<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head')  %> 
    <title>Categoría Boxeo</title>
</head>
<body>
    <%- include('../partials/header')  %>
    <main>
        <h1>Categoría Boxeo</h1>
    </main>
    <%- include('../partials/footer')  %> 
</body>
</html>