<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head')  %> 
    <title></title>
</head>
<body>
    <%- include('../partials/header')  %>
    <main>
        <h1>Categoría entrenamiento</h1>
    </main>
    <%- include('../partials/footer')  %> 
</body>
</html>