footer{
    background: radial-gradient(#053742, #000);
    width: 100%;
    height: 120px;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
}

footer section.contntF{
    /* background-color: aqua; */
    width: 100px;
    height: 100px;
    
}

footer section img{
    margin: auto;
    width: 90%;
    
}

footer section h3, footer section ul{
    margin: auto;
}