footer{
    background: radial-gradient(#053742, #000);
    width: 100%;
    display:flex;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

footer section.contntF{
    text-align: center;
    width: 20%;
    margin: 20px 0px;
    
}

main{
    display: none;
}

footer section.contntF img{
    /* max-height:30%; */
    position: absolute;
    width: 25%;
    padding-right: 20%;
}

