header div.banner{
    position: relative;
    width: 100%;
    display: flex;
    max-width: 1024px;
}
header img {
    width: 100%;
    display: flex;
}

header .logo {
    position: absolute;
    width: 17%;
    top: 1%;
    left: 41.5%;

}

header nav{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--blue);
    padding: 10px 0;
    border: 1px solid var(--lightBlue);

}

header nav label i{
    background-color: var(--lightBlue);
    color: var(--white);
    padding: 5px;
    border-radius: 5px;
    


    
}
header .home, .user{
    display: none;
}

header nav form {
    width: 60%; 
    display: flex;
    justify-content: center;
    
}

header nav form input{
    width: 90%;
    border: solid 1px var(--lightBlue);
}

header nav form button{
    height: 26px;
    border-radius: 0 5px 5px 0;
    display: flex;
    
}

header nav form button.search i{
    
    color: var(--white);
    padding: 5px;
    border-radius: 0px 5px 5px 0px;
    align-self: center;
    
    
}

header nav button.cart i{
    background-color: var(--lightBlue);
    color: var(--white);
    padding: 5px;
    border-radius: 5px;
}

@media (min-width: 768px){

    header nav label {
        display: none;
    }
    header nav button.home{
        display: flex;
    }

    header nav button.home i{
        background-color: var(--lightBlue);
        color: var(--white);
        padding: 5px;
        border-radius: 5px;
    }

    header .user{
        display: flex;
        color: var(--white);
        padding: 5px;
        border-radius: 5px;
        align-self: center;
    }

    header nav button a{
        color: var(--white);
    }
    
}




@media (min-width: 1024px) {

    header .banner {
        
        margin: 0 auto;
    }

    header .container {
        background-image: url(/img/fondo.png);
        background-repeat: repeat;
    }

}