.admin h1.tittle {
    margin: 20px 0px 20px 0px;
    text-align: center;
    color: var(--white);
}

.admin section.tarjetas_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

.admin section.tarjetas_container article.tarjetas {
    width: 45%;
    border-radius: 5px;
    background-color: #f5f5f5;
    margin-bottom: 20px;
}

.admin section.tarjetas_container article.tarjetas img {
    width: 100%;
    border-radius: 5px;
}

.admin section.tarjetas_container article.tarjetas div.cogs_container, .admin section.tarjetas_container article.tarjetas div.cogs_container2 {
    position: relative;
    width: 140px;
    top: -148px;
    cursor: pointer;
}

.admin section.tarjetas_container article.tarjetas div.cogs_container img.engranaje1, .admin section.tarjetas_container article.tarjetas div.cogs_container img.engranaje2, .admin section.tarjetas_container article.tarjetas div.cogs_container img.engranaje3, .admin section.tarjetas_container article.tarjetas div.cogs_container2 img.engranaje4, .admin section.tarjetas_container article.tarjetas div.cogs_container2 img.engranaje5, .admin section.tarjetas_container article.tarjetas div.cogs_container2 img.engranaje6 {
    position: absolute;
    width: 20%;
}

.admin section.tarjetas_container article.tarjetas div.cogs_container img.engranaje1, .admin section.tarjetas_container article.tarjetas div.cogs_container2 img.engranaje4 {
    top: 71px;
    left: 28px;
    width: 25%;
    transform: rotate(13deg);
    animation: rotacion 5s normal linear infinite
}

.admin section.tarjetas_container article.tarjetas div.cogs_container img.engranaje2, .admin section.tarjetas_container article.tarjetas div.cogs_container2 img.engranaje5 {
    top: 57px;
    left: 9px;
    width: 20%;
    animation: rotacion 5s reverse linear infinite;
    animation-delay: 100ms;
}

.admin section.tarjetas_container article.tarjetas div.cogs_container img.engranaje3, .admin section.tarjetas_container article.tarjetas div.cogs_container2 img.engranaje6 {
    top: 48px;
    left: 32px;
    width: 15%;
    animation: rotacion 5s normal linear infinite;
    animation-delay: 100ms;
}

/* container de cogs2 */
.admin section.tarjetas_container article.tarjetas div.cogs_container2 {
    width: 85px;
    top: -129px;
    left: 23px;
}

.admin section.tarjetas_container article.tarjetas div.cogs_container2 img.engranaje4 {
    top: 70px;
    left: 40px;
}

.admin section.tarjetas_container article.tarjetas div.cogs_container2 img.engranaje5 {
    top: 58px;
    left: 33px;
}

.admin section.tarjetas_container article.tarjetas div.cogs_container2 img.engranaje6 {
    top: 57px;
    left: 48px;
}

.admin article.tarjetas h4 {
    text-align: center;
    color: var(--white);
    background-color: var(--lightBlue);
    padding: 5px;
    border-radius: 0px 0px 5px 5px;
}

.admin h2.title_container {
    color: var(--white);
    background-color: var(--lightBlue);
    text-align: center;
    padding: 5px;
}

.admin p.redirect_container {
    margin: 15px 0px 15px 20px;
}

.admin p.redirect_container2 {
    background-color: var(--white);
    margin-bottom: 15px;
    text-align: center;
    padding: 5px;
}

.admin p.redirect_container2 a {
    color: black;
}

.admin p.redirect_container a.redirect {
    color: var(--white);
}

.admin section.list_container {
    display: flex;
    background-color: var(--white)
}

.admin section.list_container div.subtitulo_container {
    color: var(--black);
    width: 50%;
}

.admin section.list_container div.subtitulo_container h2 {
    padding-left: 10px;
    color: var(--black);
}

.admin section.list_container form {
    display: flex;
    align-items: center;
    width: 50%;
}

.admin section.list_container form.ban_container {
    justify-content: space-around;
}

.admin section.list_container form.ban_container button.eliminar_usuarios {
    border-radius: 5px;
    padding: 3px;
    font-size: 12px;
}

.admin section.list_container form input {
    border: solid 1px var(--lightBlue);
    width: 80%;
    height: 26px;
    border-radius: 5px 0 0 5px;
    padding-left: 5px;
    max-width: 300px;
}

.admin section.list_container form button {
    height: 26px;
    border-radius: 0 5px 5px 0;
    background-color: var(--lightBlue);
    border: none;
}

.admin section.list_container form button i {
    color: var(--white);
    padding: 5px;
    border-radius: 0px 5px 5px 0px;
    align-self: center;
}

.admin table.table {
    background-color: var(--white);
    width: 100%;
    border: 1px solid #ebebeb;
    border-bottom: none;
}

.admin table.table thead tr th {
    border-bottom: 1px solid #ebebeb;
    padding: 5px;
}

.admin table.table tbody tr td, .admin table.table tbody tr th.id {
    border-bottom: 1px solid #ebebeb;
}

.admin table.table tbody tr td.iconos, .admin table.table tbody tr th, .admin table.table tbody tr td.adm {
    text-align: center;
}

.admin table.table tbody tr td.iconos {
    padding: 5px 0px 5px 0px;
}

.admin table.table tbody tr td.iconos a i {
    color: var(--lightBlue);
}

.admin table.table tbody tr td.iconos a i.trash, .admin table.table tbody tr td.iconos form button.ban i.ban {
    color: crimson;
}

.admin table.table tbody tr td.iconos a i.trash, .admin table.table tbody tr td.iconos form button.ban {
    border: none;
    cursor: pointer;

}

.admin table.table tbody tr td.iconos form button.ban i.noban, .admin table.table tbody tr td.iconos i.carta {
    color: var(--lightBlue);
    cursor: pointer;
}

.admin table.table tbody tr td.iconos form button.delete {
    color: crimson;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

.admin table.table tbody tr td.nick {
    font-size: 13px;
}

@media (min-width: 360px) {
    .admin section.tarjetas_container article.tarjetas div.cogs_container {
        width: 150px;
        top: -148px;
        left: 5px;
    }

    .admin section.tarjetas_container article.tarjetas div.cogs_container2 {
        width: 100px;
        top: -137px;
        left: 31px;
    }
    
    .admin section.tarjetas_container article.tarjetas div.cogs_container2 img.engranaje5 {
        top: 56px;
        left: 33px;
    }
    
    .admin section.tarjetas_container article.tarjetas div.cogs_container2 img.engranaje6 {
        top: 55px;
        left: 51px;
    }
}

@media (min-width: 390px) {
    .admin section.tarjetas_container article.tarjetas div.cogs_container {
        width: 150px;
        top: -163px;
        left: 5px;
    }

    .admin section.tarjetas_container article.tarjetas div.cogs_container2 {
        top: -140px;
        left: 37px;
    }
}

@media (min-width: 425px) {

    .admin section.list_container div.subtitulo_container h2 {
        padding: 10px;
    }

    .admin section.list_container form.ban_container button.eliminar_usuarios {
        border-radius: 5px;
        padding: 5px;
        font-size: 15px;
    }

    .admin section.tarjetas_container article.tarjetas div.cogs_container {
        width: 185px;
        top: -170px;
        left: 8px;
    }

    .admin table.table tbody tr td.nick {
        font-size: 16px;
    }

    .admin section.tarjetas_container article.tarjetas div.cogs_container img.engranaje1 {
        top: 71px;
        left: 28px;
    }
    
    .admin section.tarjetas_container article.tarjetas div.cogs_container img.engranaje2 {
        top: 54px;
        left: 5px;
    }
    
    .admin section.tarjetas_container article.tarjetas div.cogs_container img.engranaje3 {
        top: 42px;
        left: 33px;
    }

    .admin section.tarjetas_container article.tarjetas div.cogs_container2 {
        width: 120px;
        top: -147px;
        left: 44px;
    }

    .admin section.tarjetas_container article.tarjetas div.cogs_container2 img.engranaje4 {
        left: 38px;
    }
    
    .admin section.tarjetas_container article.tarjetas div.cogs_container2 img.engranaje5 {
        top: 53px;
        left: 29px;
    }
    
    .admin section.tarjetas_container article.tarjetas div.cogs_container2 img.engranaje6 {
        top: 52px;
        left: 50px;
    }
}

@media (min-width: 470px) {
    .admin section.tarjetas_container article.tarjetas div.cogs_container {
        top: -180px;
        left: 12px;
    }

    .admin section.tarjetas_container article.tarjetas div.cogs_container2 {
        width: 120px;
        top: -152px;
        left: 56px;
    }
}

@media (min-width: 545px) {
    .admin section.tarjetas_container article.tarjetas div.cogs_container {
        top: -192px;
        left: 22px;
    }

    .admin section.tarjetas_container article.tarjetas div.cogs_container2 {
        width: 120px;
        top: -161px;
        left: 74px;
    }
}

@media (min-width: 620px) {
    .admin section.tarjetas_container article.tarjetas div.cogs_container {
        width: 250px;
        top: -207px;
        left: 26px;
    }

    .admin section.tarjetas_container article.tarjetas div.cogs_container img.engranaje1 {
        top: 76px;
        left: 32px;
    }
    
    .admin section.tarjetas_container article.tarjetas div.cogs_container img.engranaje2 {
        top: 54px;
        left: -2px;
    }
    
    .admin section.tarjetas_container article.tarjetas div.cogs_container img.engranaje3 {
        top: 28px;
        left: 27px;
    }

    .admin section.tarjetas_container article.tarjetas div.cogs_container2 {
        width: 180px;
        top: -181px;
        left: 85px;
    }

    .admin section.tarjetas_container article.tarjetas div.cogs_container2 img.engranaje4 {
        top: 69px;
    }
    
    .admin section.tarjetas_container article.tarjetas div.cogs_container2 img.engranaje5 {
        top: 44px;
        left: 24px;
    }
    
    .admin section.tarjetas_container article.tarjetas div.cogs_container2 img.engranaje6 {
        top: 42px;
        left: 56px;
    }
}

@media (min-width: 690px) {
    .admin section.tarjetas_container article.tarjetas div.cogs_container {
        top: -226px;
        left: 32px;
    }

    .admin section.tarjetas_container article.tarjetas div.cogs_container2 {
        top: -188px;
        left: 101px;
    }
}

@media (min-width: 768px) {

    .admin h1.tittle {
        text-align: start;
        margin-left: 20px;
    }
    
    .admin p.redirect_container a.redirect:hover {
        text-shadow: 1px 1px 2px var(--white), 0 0 1em var(--lightBlue), 0 0 0.2em var(--lightBlue);
    }

    .admin p.redirect_container2 a.redirect:hover {
        text-shadow: 1px 1px 2px var(--white), 0 0 1em var(--lightBlue), 0 0 0.2em var(--lightBlue);
    }

    .admin article.tarjetas {
        width: 20%;
        max-width: 250px;
        animation: respiracion 5s linear alternate infinite;
        animation-delay: 5s;
    }

    .admin article.tarjetas:hover {
        transform: scale(1.2);
        transition: all .6s;
    }

    .admin section.list_container form {
        justify-content: flex-end;
        margin-right: 20px;
    }

    .admin table.table tbody tr td.name, .admin table.table thead tr th.name {
        display: block;
        padding: 5px 0px 5px 0px;
    }

    .admin table.table thead tr th.colm_icon {
        width: 100px;
    }

    .admin table.table thead tr th.colm_admin {
        width: 120px;
    }

    .admin table.table tbody tr td i:hover{
        transform: scale(1.5);
        transition: all .5s;
    }

    .admin section.tarjetas_container article.tarjetas div.cogs_container {
        width: 245px;
        top: -195px;
        left: 17px;
    }

    .admin section.tarjetas_container article.tarjetas div.cogs_container img.engranaje1 {
        top: 78px;
        left: 32px;
    }
    
    .admin section.tarjetas_container article.tarjetas div.cogs_container img.engranaje2 {
        top: 55px;
        left: 0px;
    }
    
    .admin section.tarjetas_container article.tarjetas div.cogs_container img.engranaje3 {
        top: 29px;
        left: 27px;
    }

    .admin section.tarjetas_container article.tarjetas div.cogs_container2 {
        width: 160px;
        top: -169px;
        left: 71px;
    }

    .admin section.tarjetas_container article.tarjetas div.cogs_container2 img.engranaje4 {
        top: 70px;
    }
    
    .admin section.tarjetas_container article.tarjetas div.cogs_container2 img.engranaje5 {
        top: 47px;
        left: 26px;
    }
    
    .admin section.tarjetas_container article.tarjetas div.cogs_container2 img.engranaje6 {
        top: 45px;
        left: 54px;
    }
}


@keyframes respiracion {
    0% {
        box-shadow: 0px 0px 10px 0px rgba(42,210,210,0);
    }

    25% {
        box-shadow: 0px 0px 10px 0px rgba(42,210,210,0.25);
    }

    50% {
        box-shadow: 0px 0px 10px 0px rgba(42,210,210,0.50);
    }

    75% {
        box-shadow: 0px 0px 10px 0px rgba(42,210,210,0.75);
    }

    100% {
        box-shadow: 0px 0px 10px 0px rgba(42,210,210,1);
    }
}


@keyframes rotacion {
    0% {
        -webkit-transform: rotate3d(0, 0, 1, 0deg);
        transform: rotate3d(0, 0, 1, 0deg);
    }

    25% {
        -webkit-transform: rotate3d(0, 0, 1, 90deg);
        transform: rotate3d(0, 0, 1, 90deg);
    }

    50% {
        -webkit-transform: rotate3d(0, 0, 1, 180deg);
        transform: rotate3d(0, 0, 1, 180deg);
    }

    75% {
        -webkit-transform: rotate3d(0, 0, 1, 270deg);
        transform: rotate3d(0, 0, 1, 270deg);
    }

    100% {
        -webkit-transform: rotate3d(0, 0, 1, 360deg);
        transform: rotate3d(0, 0, 1, 360deg);
    }
}
