.admin h1.tittle {
    color: var(--black);
    margin: 20px 0px 20px 0px;
    text-align: center;
    color: var(--white);
}

.admin section.tarjetas_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.admin article.tarjetas {
    width: 90%;
    position: relative;
    border-radius: 5px;
    background-color: #f5f5f5;
    margin-bottom: 20px;
}

.admin article.tarjetas img {
    width: 100%;
}

.admin article.tarjetas img.engranaje1, .admin article.tarjetas img.engranaje2, .admin article.tarjetas img.engranaje3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
}

.admin article.tarjetas img.engranaje1 {
    top: 155px;
    left: 56px;
    width: 25%;
    transform: rotate(50deg);
}

.admin article.tarjetas img.engranaje2 {
    top: 131px;
    left: 15px;
    width: 20%;
}

.admin article.tarjetas img.engranaje3 {
    top: 99px;
    left: 49px;
    width: 15%;
}

.admin article.tarjetas h4 {
    text-align: center;
    color: var(--white);
    background-color: var(--lightBlue);
    padding: 5px;
}

.admin h2.title_container {
    color: var(--white);
    background-color: var(--lightBlue);
    text-align: center;
    padding: 5px;
}

.admin p.redirect_container {
    margin: 15px 0px 15px 0px;
}

.admin p.redirect_container a.redirect {
    color: var(--white);
}

.admin section.list_container {
    display: flex;
    background-color: var(--white)
}

.admin section.list_container div.subtitulo_container {
    color: var(--black);
    width: 50%;
}

.admin section.list_container div.subtitulo_container h2 {
    padding-left: 10px;
    color: var(--black);
}

.admin section.list_container form {
    display: flex;
    align-items: center;
    width: 50%;
}

.admin section.list_container form input {
    border: solid 1px var(--lightBlue);
    width: 80%;
    height: 26px;
    border-radius: 5px 0 0 5px;
    padding-left: 5px;
}

.admin section.list_container form button {
    height: 26px;
    border-radius: 0 5px 5px 0;
}

.admin section.list_container form button i {
    color: var(--white);
    padding: 5px;
    border-radius: 0px 5px 5px 0px;
    align-self: center;
}

.admin table.table {
    background-color: var(--white);
    width: 100%;
}

.admin table.table thead tr th {
    border-bottom: 1px solid #ebebeb;
    padding: 5px;
}

.admin table.table tbody tr td.iconos, .admin table.table tbody tr th, .admin table.table tbody tr td.adm {
    text-align: center;
}

.admin table.table tbody tr td.iconos a i {
    color: var(--lightBlue);
}

.admin table.table tbody tr td.iconos a i.trash {
    color: crimson;
}

.admin table.table tbody tr td.name, .admin table.table tbody tr td.surname, .admin table.table thead tr th.name, .admin table.table thead tr th.surname {
    display: none;
}

@media (min-width: 425px) {
    
}
