.buscador  h1 {
    background-color: var(--lightBlue);
    text-align: center;
    color: var(--white);
    padding: 5px 0 5px 0;
    margin: 20px 0 10px 0;
    text-transform: uppercase;
}

.buscador section.todos {
    margin-bottom: 20px
}

.buscador section.todos div.todos_contenedor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.buscador section.todos div.todos_contenedor article.producto_des {
    margin-top: 10px;
    width: 45%;
    background-color: var(--white);
    border-radius: 5px;
}

.buscador section.todos div.todos_contenedor article.producto_des a img {
    width: 100%;
}


.buscador section.todos div.todos_contenedor article.producto_des div.image_container a img {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

.buscador section.todos div.todos_contenedor article.producto_des div.detail_container {
    position: relative;
    padding: 0px 10px 10px 10px;
    text-align: center;
}

.buscador section.todos div.todos_contenedor article.producto_des div.detail_container i {
    position: absolute;
    top: -25px;
    left: 10px;
    color: var(--lightBlue);
}

.buscador section.todos div.todos_contenedor article.producto_des div.detail_container p.precio{
    color: var(--black);
    text-shadow: 1px 1px 2px var(--white), 0 0 1em var(--lightBlue), 0 0 0.2em var(--lightBlue);
    font-size: 20px;
}

.buscador section.todos div.todos_contenedor article.producto_des div.detail_container p.descripcion {
    display: none;
}

/* en oferta */

.buscador section.todos div.todos_contenedor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.buscador section.todos div.todos_contenedor article.producto_ofer {
    margin-top: 10px;
    width: 45%;
    background-color: var(--white);
    border-radius: 5px;
}

.buscador section.todos div.todos_contenedor article.producto_ofer div.image_container a img {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

.buscador section.todos div.todos_contenedor article.producto_ofer div.detail_container {
    position: relative;
    text-align: center;
    padding: 0px 10px 10px 10px;
}

.buscador section.todos div.todos_contenedor article.producto_ofer div.detail_container p.descuento {
    position: absolute;
    top: -38px;
    left: 6px;
    color: var(--white);
    background-color: var(--lightBlue);
    font-size: 20px;
    padding: 3px;
}

.buscador section.todos div.todos_contenedor article.producto_ofer div.detail_container p.descripcion {
    display: none;
}

.buscador section.todos div.todos_contenedor article.producto_ofer div.detail_container p.precio {
    text-decoration: line-through;
    color: red;
    text-align: center;
}

.buscador section.todos div.todos_contenedor article.producto_ofer div.detail_container p.precio_des  {
    color: var(--black);
    text-shadow: 1px 1px 2px var(--white), 0 0 1em var(--lightBlue), 0 0 0.2em var(--lightBlue);
    font-size: 20px;
    
}

.buscador section.gifContainer {
    text-align: center;
    margin-bottom: 15px;
}

.buscador section.gifContainer img.vanDamme{
    width: 70%;
    animation: respiracion 5s linear alternate infinite;
    animation-delay: 5s;
}

@media (min-width: 425px){
    .buscador section.todos div.todos_contenedor article.producto_des, .todos section.todos div.todos_contenedor article.producto_ofer {
        width: 30%;
        box-shadow: 0px 0px 10px 0px rgba(42,210,210,1);
    }

    .buscador section.gifContainer img.vanDamme{
        width: 60%;
    }
}

@media (min-width: 768px) {
    .buscador section.todos div.todos_contenedor article.producto_des, .todos section.todos div.todos_contenedor article.producto_ofer {
        width: 22%;
        box-shadow: none;
        max-width: 250px;
    }
    .buscador section.todos div.todos_contenedor article.producto_des:hover, .todos section.todos div.todos_contenedor article.producto_ofer:hover {
        box-shadow: 0px 0px 10px 0px rgba(42,210,210,1);
        transition: box-shadow .5s;
    }

    .buscador section.todos div.todos_contenedor article.producto_ofer:hover, .todos section.todos div.todos_contenedor article.producto_des:hover {
        transform: scale(1.05);
        transition: all 500ms;
    }

    .buscador section.todos div.todos_contenedor article.producto_des div.detail_container h4, .todos section.todos div.todos_contenedor article.producto_ofer div.detail_container h4 {
        font-size: 20px;
    }

    .buscador section.gifContainer img.vanDamme{
        width: 35%;
    }
}

@media (min-width: 1137px){
    .buscador section.todos div.todos_contenedor article.producto_des, .todos section.todos div.todos_contenedor article.producto_ofer {
        width: 100%;
    }

    .buscador section.todos div.todos_contenedor, .todos section.todos div.todos_contenedor {
        display: grid;
        grid-template-columns: repeat(4, auto);
        gap: 10px;
    }
    
    /* .todos section.todos div.todos_contenedor article.producto_ofer div.detail_container p.descuento {
        top: -39px;
        left: 7px;
    } */
}

@media (min-width: 1400px) {

    .buscador section.todos div.todos_contenedor, .todos section.todos div.todos_contenedor {
        grid-template-columns: repeat(5, auto);
    }

}

@media (min-width: 1560px) {

    .buscador section.todos div.todos_contenedor, .todos section.todos div.todos_contenedor {
        grid-template-columns: repeat(6, auto);
    }
}


@keyframes respiracion {
    0% {
        box-shadow: 0px 0px 10px 0px rgba(42,210,210,0);
    }

    25% {
        box-shadow: 0px 0px 10px 0px rgba(42,210,210,0.25);
    }

    50% {
        box-shadow: 0px 0px 10px 0px rgba(42,210,210,0.50);
    }

    75% {
        box-shadow: 0px 0px 10px 0px rgba(42,210,210,0.75);
    }

    100% {
        box-shadow: 0px 0px 10px 0px rgba(42,210,210,1);
    }
}