.cart h1.titulo {
    color: var(--white);
    margin: 20px 0px 20px 20px;
}

/*                         Carrito                              */
.cart section.container {
    background-color: var(--white);
    width: 90%;
    margin: 0 auto;
    border-radius: 5px;
}

.cart section.container div.info_cart {
    display: flex;
    justify-content: space-between;
}

.cart section.container div.info_cart h2 {
    margin: 15px 0 0 15px;
    padding-right: 25px;
    border-bottom: 1px solid var(--black);
    font-weight: 300;
}

.cart section.container div.info_cart h2:last-child {
    margin: 15px 15px 0 0;
    padding-left: 25px;
    padding-right: 0px;
}

.cart section.container article.product_info {
    display: grid;
    grid-template-columns: 30% 70%;
    gap: 10px;
    border-bottom: 1px solid #ebebeb;
    padding: 15px 0 15px 0;
}

.cart section.container article.product_info div.foto_product {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}

.cart section.container article.product_info div.foto_product a {
    width: inherit;
    align-self: center;
}

.cart section.container article.product_info div.foto_product a img {
    padding-left: 10px;
    width: 100%;
}

.cart section.container article.product_info div.detail_product div.detail_article_cart h4.tittle_article {
    padding-bottom: 15px;
}

.cart section.container article.product_info div.foto_product p.modelo_article {
    width: 100%;
    padding-left: 10px;
    padding-top: 10px;
    text-align: center;
}

.cart section.container article.product_info div.detail_product div.monto_container p.precio, .cart section.container article.product_info div.detail_product div.monto_container p.precio_ant, .cart section.container article.product_info div.detail_product div.monto_container p.precio_des, .cart section.monto_final div.total_container div.totales h5, .cart section.monto_final div.total_container div.precio_total h5, .cart section.container article.product_info div.foto_product p.modelo_article, .cart section.container article.product_info div.detail_product div.detail_article_cart h4.tittle_article, .cart section.monto_final div.total_container div.seguro h5, .cart section.container article.product_info div.detail_product div.detail_article_cart a, .cart section.container article.product_info div.detail_product div.cantidad_container p.stock {
    font-size: 12px;
}

.cart section.container article.product_info div.foto_product p.descuento {
    position: absolute;
    top: 0px;
    right: 0px;
    color: var(--white);
    background-color: var(--lightBlue);
    font-size: 15px;
}

.cart section.container article.product_info div.foto_product a.icono {
    width: 100%;
    display: flex;
    margin-left: 10px;
    justify-content: space-around;
}

.cart section.container article.product_info div.foto_product a.icono button {
    width: 95%;
    background-color: var(--lightBlue);
    border-radius: 0 0 5px 5px;
    border: none;
    cursor: pointer;
}

.cart section.container article.product_info div.foto_product a button i {
    color: var(--white);
}

.cart section.container article.product_info div.foto_product a.eliminar_a button.eliminar, .cart section.container article.product_info div.foto_product a.eliminar_a {
    display: none;
    cursor: pointer;
}

.cart section.container article.product_info div.detail_product {
    display: flex;
}

.cart section.container article.product_info div.detail_product div.detail_article_cart {
    width: 32%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.cart section.container article.product_info div.detail_product div.detail_article_cart a {
    color: var(--black);
    font-weight: 700;
    cursor: pointer;
}

.cart section.container article.product_info div.detail_product div.cantidad_container {
    width: 30%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cart section.container article.product_info div.detail_product div.cantidad_container p.stock {
    text-align: center;
    overflow: hidden;
}

.cart section.container article.product_info div.detail_product div.cantidad_container div.box_quantity {
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
}

.cart section.container article.product_info div.detail_product div.cantidad_container div.box_quantity button {
    background-color: var(--lightBlue);
    color: var(--white);
    width: 15px;
    border-radius: 5px 0 0 5px;
    border: none;
    cursor: pointer;
}

.cart section.container article.product_info div.detail_product div.cantidad_container div.box_quantity button:last-child {
    border-radius: 0 5px 5px 0;
}

.cart section.container article.product_info div.detail_product div.cantidad_container div.box_quantity input {
    width: 30px;
    border-left: none;
    border-right: none;
    border: 1px solid var(--lightBlue);
}

.cart section.container article.product_info div.detail_product div.monto_container {
    width: 31%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    border-left: 1px solid #ebebeb;
}

.cart section.container article.product_info div.detail_product div.monto_container p.precio {
    color: var(--black);
    text-shadow: 1px 1px 2px var(--white), 0 0 1em var(--lightBlue), 0 0 0.2em var(--lightBlue);
}

.cart section.container article.product_info div.detail_product div.monto_container p.precio_ant {
    text-decoration: line-through;
    color: red;
}

.cart section.container article.product_info div.detail_product div.monto_container p.precio_des {
    color: var(--black);
    text-shadow: 1px 1px 2px var(--white), 0 0 1em var(--lightBlue), 0 0 0.2em var(--lightBlue);
}

/*                                Monto final - pagar                                  */

.cart section.monto_final div.total_container {
    display: grid;
    grid-template-columns: 42% 25% 25%;
    gap: 10px;
}

.cart section.monto_final div.total_container div.seguro {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 10px;
}

.cart section.monto_final div.total_container div.seguro p {
    display: none;
}

.cart section.monto_final div.total_container div.seguro a {
    color: black;
    font-weight: 700;
    cursor: pointer;
}

.cart section.monto_final div.total_container div.seguro h5 {
    margin-top: 15px;
}

.cart section.monto_final div.total_container div.totales h5, .cart section.monto_final div.total_container div.precio_total h5 {
    margin-top: 20px;
    text-align: end;
}

.cart section.monto_final div.total_container div.precio_total h5:last-child {
    color: var(--black);
    border-bottom: 1px solid var(--black);
    padding-bottom: 5px;
    text-shadow: 1px 1px 2px var(--white), 0 0 1em var(--lightBlue), 0 0 0.2em var(--lightBlue);
}

.cart section.monto_final div.mercado_pago {
    display: flex;
    justify-content: space-between;
}

.cart section.monto_final div.mercado_pago img {
    width: 70%;
    padding: 10px;
}


.cart section.monto_final div.mercado_pago div.boton_container button.pagar {
    width: 70px;
    height: 60px;
    padding: 10px;
    margin-top: 10px;
    margin-right: 10px;
    color: var(--white);
    background-color: var(--lightBlue);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/*                                     Productos similares                                  */

.cart section.similares {
    padding: 20px 0 20px 0;
}

.cart section.similares h2 {
    text-align: center;
    color: var(--white);
    background-color: var(--lightBlue);
    padding: 5px 0 5px 0;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.cart section.similares div.similares_contenedor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
/* los destacados */
.cart section.similares div.similares_contenedor article.producto_des{
    margin-top: 10px;
    width: 45%;
    background-color: var(--white);
    border-radius: 5px;
}

.cart section.similares div.similares_contenedor article.producto_des div.image_container a img {
    width: 100%;
    padding: 5%;
    border-radius: 10px;
}

.cart section.similares div.similares_contenedor article.producto_des div.detail_container {
    position: relative;
    text-align: center;
    padding: 0px 10px 10px 10px;
}

.cart section.similares div.similares_contenedor article.producto_des div.detail_container i {
    position: absolute;
    top: -31px;
    left: 12px;
    color: var(--lightBlue);
}


.cart section.similares div.similares_contenedor article.producto_des div.detail_container p.precio {
    color: var(--black);
    text-shadow: 1px 1px 2px var(--white), 0 0 1em var(--lightBlue), 0 0 0.2em var(--lightBlue);
    font-size: 20px;
}

.cart section.similares div.similares_contenedor article.producto_des div.detail_container p.descripcion, .cart section.similares div.similares_contenedor article.producto_ofer div.detail_container p.descripcion {
    display: none;
}

/* en oferta */

.cart section.similares div.similares_contenedor article.producto_ofer {
    margin-top: 10px;
    width: 45%;
    background-color: var(--white);
    border-radius: 5px;
}

.cart section.similares div.similares_contenedor article.producto_ofer div.image_container a img {
    width: 100%;
    padding: 5%;
    border-radius: 10px;
}

.cart section.similares div.similares_contenedor article.producto_ofer div.detail_container {
    position: relative;
    text-align: center;
    padding: 0px 10px 10px 10px;
}

.cart section.similares div.similares_contenedor article.producto_ofer div.detail_container p.descuento {
    position: absolute;
    top: -36px;
    left: 10px;
    color: var(--white);
    background-color: var(--lightBlue);
    font-size: 20px;
}

.cart section.similares div.similares_contenedor article.producto_ofer div.detail_container p.precio {
    text-decoration: line-through;
    color: red;
    text-align: center;
}

.cart section.similares div.similares_contenedor article.producto_ofer div.detail_container p.precio_des {
    color: var(--black);
    text-shadow: 1px 1px 2px var(--white), 0 0 1em var(--lightBlue), 0 0 0.2em var(--lightBlue);
    font-size: 20px;
}

.cart section.similares p.ver_mas {
    margin-top: 15px;
    text-align: center;
}

.cart section.similares p a.ver_mas {
    color: var(--white);
    font-weight: 400;
    font-size: 1.5rem;
    text-align: start;
}

/*                                          Tablet                                     */
@media (min-width: 425px) {

    .cart section.container {
        animation: respiracion 5s linear alternate infinite;
        animation-delay: 5s;
    }

    .cart section.container div.info_cart h2 {
        padding-right: 125px;
        font-weight: 400;
    }

    .cart section.container article.product_info div.foto_product a.icono button {
        width: 95%;
    }    

    .cart section.container article.product_info div.detail_product div.cantidad_container div.box_quantity input {
        width: 50px;
        height: 30px;
    }

    .cart section.container article.product_info div.detail_product div.cantidad_container div.box_quantity button {
        width: 25px;
    }

    .cart section.container article.product_info div.detail_product div.monto_container h5 {
        font-size: 20px;
    }

    .cart section.container article.product_info div.detail_product div.monto_container p.precio, .cart section.container article.product_info div.detail_product div.monto_container p.precio_ant, .cart section.container article.product_info div.detail_product div.monto_container p.precio_des, .cart section.monto_final div.total_container div.totales h5, .cart section.monto_final div.total_container div.precio_total h5, .cart section.container article.product_info div.foto_product p.modelo_article, .cart section.container article.product_info div.detail_product div.detail_article_cart h4.tittle_article, .cart section.monto_final div.total_container div.seguro h5, .cart section.container article.product_info div.detail_product div.detail_article_cart a, .cart section.container article.product_info div.detail_product div.cantidad_container p.stock {
        font-weight: 600;
        font-size: 17px;
    }

    .cart section.monto_final div.mercado_pago {
        justify-content: space-around;
    }

    .cart section.monto_final div.mercado_pago img {
        max-width: 400px;
    }

    .cart section.monto_final div.mercado_pago div.boton_container {
        text-align: center;
    }
    
    .cart section.monto_final div.mercado_pago div.boton_container button.pagar {
        font-size: 17px;
        font-weight: 600;
        width: 90%;
    }

    .cart section.similares div.similares_contenedor article.producto_ofer, .cart section.similares div.similares_contenedor article.producto_des {
        width: 30%;
        box-shadow: 0px 0px 10px 0px rgba(42,210,210,1);
    }
    
    .cart section.similares a.ver_mas {
        justify-content: flex-start;
        margin-left: 20px;
    }
}

@media (min-width: 768px) {

    .cart section.container article.product_info {
        grid-template-columns: 19% 80%;
    }

    .cart section.container div.info_cart h2 {
        padding-right: 250px;
    }

    .cart section.container article.product_info div.foto_product a img {
        max-width: 250px;
        max-height: 250px;
    }

    .cart section.container article.product_info div.detail_product div.monto_container {
        width: 35%;
    }

    .cart section.container article.product_info div.detail_product div.detail_article_cart h4.tittle_article {
        padding-top: 30px;
    }

    .cart section.container article.product_info div.foto_product a.icono i, .cart section.container article.product_info div.foto_product a.icono {
        display: none;
    }

    .cart section.container article.product_info div.foto_product a.eliminar_a {
        display: block;
        width: 99%;
    }
    
    .cart section.container article.product_info div.foto_product a.eliminar_a button.eliminar {
        color: var(--white);
        display: block;
        margin-left: 10px;
        padding: 5px;
        border-radius: 0 0 5px 5px;
        width: 93%;
        max-width: 240px;
        font-size: 17px;
        font-weight: 600;
        background-color: var(--lightBlue);
        border: none;
    }

    .cart section.container article.product_info div.foto_product a.eliminar_a button.eliminar:hover {
        box-shadow: 0px 0px 10px 0px rgba(42,210,210,1);
    }

    .cart section.container article.product_info div.foto_product a.icono {
        width: 100%;
        display: flex;
        margin-left: 10px;
        justify-content: space-around;
    }

    .cart section.container article.product_info div.detail_product div.cantidad_container div.box_quantity button:hover {
        box-shadow: 0px 0px 10px 0px rgba(42,210,210,1);
    }

    .cart section.container article.product_info div.detail_product div.cantidad_container div.box_quantity input:focus {
        box-shadow: 0px 0px 10px 0px rgba(42,210,210,1);
        transition: all .5s;
    }

    .cart section.container article.product_info div.detail_product div.monto_container {
        justify-content: space-evenly;
    }

    .cart section.monto_final div.total_container {
        grid-template-columns: 42% 25% 28.5%;
    }

    .cart section.monto_final div.total_container div.seguro p {
        display: block;
    }

    .cart section.monto_final div.total_container div.seguro a:hover, .cart section.container article.product_info div.detail_product div.detail_article_cart a:hover, .cart section.similares p a.ver_mas:hover {
        color: var(--lightBlue);
    }

    .cart section.monto_final div.mercado_pago img {
        margin-left: 50px;
    }

    .cart section.monto_final div.mercado_pago {
        justify-content: space-between;
    }

    .cart section.monto_final div.mercado_pago div.boton_container button.pagar {
        width: 200px;
        margin-right: 28px;
        
    }
    
    .cart section.monto_final div.mercado_pago div.boton_container button.pagar:hover {
        box-shadow: 0px 0px 10px 0px rgba(42,210,210,1);
    }

    .cart section.similares div.similares_contenedor article.producto_ofer div.detail_container p.descripcion, .cart section.similares div.similares_contenedor article.producto_des div.detail_container p.descripcion {
        display: block;
    }

    .cart section.similares div.similares_contenedor article.producto_ofer, .cart section.similares div.similares_contenedor article.producto_des {
        max-width: 250px;
        box-shadow: none
    }
    .cart section.similares div.similares_contenedor article.producto_ofer div.detail_container p.descuento {
        top: -40px;
        left: 12px;
    }

    .cart section.similares div.similares_contenedor article.producto_des div.detail_container i {
        top: -33px;
        left: 15px;
    }
    
    .cart section.similares div.similares_contenedor article.producto_ofer:hover, .cart section.similares div.similares_contenedor article.producto_des:hover {
        box-shadow: 0px 0px 10px 0px rgba(42,210,210,1);
        transition: box-shadow .5s;
    }

    .cart section.similares p.ver_mas {
        text-align: start;
    }


}


@media (min-width: 1400px) {

    .cart h1.titulo {
        text-align: center;
    }

    .cart section.container {
        max-width: 1250px;
    }

    .cart section.container article.product_info div.foto_product a.eliminar_a button.eliminar {
        margin-left: 9px;
        width: 96%;
    }

    .cart section.monto_final div.mercado_pago div.boton_container button.pagar {
        margin-right: 35px;
    }

    .cart section.monto_final div.mercado_pago img {
        margin-left: 200px;
    }

}





@keyframes respiracion {
    0% {
        box-shadow: 0px 0px 10px 0px rgba(42,210,210,0);
    }

    25% {
        box-shadow: 0px 0px 10px 0px rgba(42,210,210,0.25);
    }

    50% {
        box-shadow: 0px 0px 10px 0px rgba(42,210,210,0.50);
    }

    75% {
        box-shadow: 0px 0px 10px 0px rgba(42,210,210,0.75);
    }

    100% {
        box-shadow: 0px 0px 10px 0px rgba(42,210,210,1);
    }
}