/* /////Estilo del contenedor padre//// */
main.contacto section{
    color: #000000;
    background-color: var(--white);
    width: 80%;
    max-width: 400px;
    margin: 40px auto;
    /* text-align: center; */
    border: solid 1px var(--lightBlue);
    border-radius: 5px;
    animation: respiracion 1s linear alternate infinite;
    animation-delay: 1s;
    animation-delay: 12s;
}

/* ////Estilo de Google MAPS/// */
main.contacto section div.googleMaps iframe{
    width:100%;
}


/* ///contenedor de Iconos de redes y Contacto//// */
main.contacto section div.iconoYcontacto{

    background-color: #0f5f5f;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* ///Estilos a Iconos de Redes/// */
main.contacto section div.iconoYcontacto div.iconoDeRedes{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    width: 80%;
    margin: 8px;
    
}

main.contacto section div.iconoYcontacto div.iconoDeRedes a i.fab{
    color: white;
    font-size: 18px;
}

/* ///Estilos a contacto/// */
main.contacto section div.iconoYcontacto article{
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

main.contacto section div.iconoYcontacto article ul li{
    margin: 8px 0;
}


main.contacto section div.iconoYcontacto article ul li a samp i.fas ,samp{
    color: white;
    font-size: 18px;
    margin: 2px;
}

/* ////////////tableta- 590 x 564/////////////////// */

@media (min-width: 590px){
    main.contacto section{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;

        color: #000000;
        background-color: var(--white);
        width: 95%;
        max-width: 800px;
        margin: 40px auto;
        /* text-align: center; */
        border: solid 1px var(--lightBlue);
        border-radius: 5px;
        animation: respiracion 1s linear alternate infinite;
        animation-delay: 1s;
        animation-delay: 12s;
        white-space: initial;

        
    }
    

    main.contacto section div.googleMaps{
        width: 70%;
    }
    main.contacto section div.googleMaps iframe{
        width:100%;
        height: 400px;
    }



        /* ///Estilos a contacto/// */

    main.contacto section div.iconoYcontacto{

        background-color: #0f5f5f;
        display: flex;
        flex-direction: column;
        
    }
    main.contacto section div.iconoYcontacto article{
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }
    main.contacto section div.iconoYcontacto article ul li{
        margin: 40px 0;
    }

    /* ///Estilos de Iconos de Redes/// */
    main.contacto section div.iconoYcontacto div.iconoDeRedes{
        margin: 10px
    }
    
}