.create small.errors {
    color: crimson;
}

body.crear main.create section.product_container{
    text-align: center;
}

/* Titulo */
body.crear main.create section.product_container h1{
    color: white;
    margin: 10px;
}
/* //////////contenedor segundario///////// */
body.crear main.create section.product_container form.todo_container{
    color: #000000;
    background-color:var(--white);
    width: 80%;
    max-width: 400px;
    margin: 40px auto;
    /* text-align: center; */
    border: solid 1px var(--lightBlue);
    border-radius: 5px;

    animation: respiracion 2s linear alternate infinite;
    animation-delay: 2s;
    padding: 0 10px;
}

body.crear main.create section.product_container form.todo_container img {
    width: 100%;
    border-radius: 5px;
}



/* //////////////estilo a todas las "P" ///////////// */
body.crear main.create section.product_container form.todo_container p{
    padding: 10px;
    font-weight: 600;
    /* text-align: left; */
    font-size: 15px;
}
 
body.crear main.create section.product_container form section.visual_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

/* ////////////////////Elegir Archivo////////////////////////// */
body.crear main.create section.product_container form section.visual_container div.container_img{
    padding: 8px 15px;
    background-color: var(--lightBlue);
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

/* ////////////titulo de producto//////////////////// */

body.crear main.create section.product_container form section.visual_container div.info_titulo_container input{
    border-radius: 5px;
    border: var(--lightBlue) solid 1px;
    padding: 5px;
    cursor: pointer;
    outline-color: var(--lightBlue);
}

body.crear main.create section.product_container form.todo_container section.visual_container h2{
    margin: 10px;
}

/* ///estilo para Enviar//// */
body.crear main.create section.product_container form section.visual_container div.descuento_envio_container div.envio_container{
    margin-right: 10px;
}

/* ///estilo para selector % //// */
body.crear main.create section.product_container form section.visual_container div.descuento_envio_container div.descuento_container select{
    margin-left: 10px;
}


/* ///////Estilo a selector de enviar y de Descuento y % ///////*/
body.crear main.create section.product_container form section.visual_container div.descuento_envio_container {
    /* margin: 15px 0;
    display: flex;
    align-items: center; */
    margin: 15px 0;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}


body.crear main.create section.product_container form section.info_container{
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin: 20px;
}

/* ///Estilos a tallas//// */

body.crear main.create section.product_container form section.info_container div.tallas{
    margin: 10px;
    display: flex;
    align-items: center;

}

body.crear main.create section.product_container form section.info_container div.tallas{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* margin-top: 20px; */
}

body.crear main.create section.product_container form section.info_container div.tallaLetra input.m, input.nl{
    margin-right: 10px;
}
 /* Selectores  */
body.crear main.create section.product_container form section.info_container div.selec{
    margin: 10px 0;
}

/* //////Estilo de Categoria////// */
body.crear main.create section.product_container form section.info_container div.info_categoria_container{
    text-align: end;
}


/* //////////Descripcion de producto//////// */
body.crear main.create section.product_container form section.info_container div.selec textarea{
    
    width: 234px;
    height: 126px;
}



/* ////////// estolo a los bordes de input y textArea /////////// */
body.crear main.create section.product_container form section.info_container div.selec input, textarea, select{
    border-radius: 5px;
    border: var(--lightBlue) solid 1px;
    padding: 5px;
    cursor: pointer;
    outline-color: var(--lightBlue);
}

/* //////////////////////Tamaño de botonosr///////////////// */
body.crear main.create section.product_container form section.button_container{
    text-align: center;
    margin: 10px;
}
/*/////////////Estilo a los botones de crear y borrar/////////// */
body.crear main.create section.product_container form section.button_container button.boton{
    padding: 8px 15px;
    background-color:#2ad2d2;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.crear main.create section.info_container div.color_container input#inputColores {
    margin-right: 20px;
    margin-bottom: 15px;
}

.crear main.create section.info_container div.color_container input.color0 {
    box-shadow: 0px 0px 2px 5px red
}
.crear main.create section.info_container div.color_container input.color1 {
    box-shadow: 0px 0px 2px 5px white
}
.crear main.create section.info_container div.color_container input.color2 {
    box-shadow: 0px 0px 2px 5px darkmagenta
}
.crear main.create section.info_container div.color_container input.color3 {
    box-shadow: 0px 0px 2px 5px hotpink
}
.crear main.create section.info_container div.color_container input.color4 {
    box-shadow: 0px 0px 2px 5px blue
}
.crear main.create section.info_container div.color_container input.color5 {
    box-shadow: 0px 0px 2px 5px yellow
}
.crear main.create section.info_container div.color_container input.color6 {
    box-shadow: 0px 0px 2px 5px black
}
.crear main.create section.info_container div.color_container input.color7 {
    box-shadow: 0px 0px 2px 5px lawngreen
}
.crear main.create section.info_container div.color_container input.color8 {
    box-shadow: 0px 0px 2px 5px darkgreen
}
.crear main.create section.info_container div.color_container input.color9 {
    box-shadow: 0px 0px 2px 5px deepskyblue
}
.crear main.create section.info_container div.color_container input.color10 {
    box-shadow: 0px 0px 2px 5px orange
}
.crear main.create section.info_container div.color_container input.color11 {
    box-shadow: 0px 0px 2px 5px gray
}
.crear main.create section.info_container div.color_container input.color12 {
    box-shadow: 0px 0px 2px 5px magenta
}
.crear main.create section.info_container div.color_container input.color13 {
    box-shadow: 0px 0px 2px 5px darkred
}
.crear main.create section.info_container div.color_container input.color14 {
    box-shadow: 0px 0px 2px 5px saddlebrown
}
.crear main.create section.info_container div.color_container input.color15 {
    box-shadow: 0px 0px 2px 5px gold
}
.crear main.create section.info_container div.color_container input.color16 {
    box-shadow: 0px 0px 2px 5px moccasin
}
.crear main.create section.info_container div.color_container input.color17 {
    box-shadow: 0px 0px 2px 5px slategrey
}



/*////////////////////////////// Movil-M///////////////////////////// */
@media(min-width:375px){
    body.crear main.create section.product_container form section.info_container div.tallaNumero{
        width: 81%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        /* margin-top: 15px; */
    }

    body.crear main.create section.product_container form section.visual_container div.selec textarea {
        width: 234px;
        height: 126px;
    }
}



/*////////////////////////////// Tablet///////////////////////////// */

@media(min-width:768px){

    body.crear main.create section.product_container form.todo_container{
        width: 80%;
        max-width: 440px;
    }
    body.crear main.create section.product_container form section.visual_container div.descuento_envio_container {
        margin: 15px 0;
        display: flex;
        align-items: center;
        flex-direction: row;
    }

    body.crear main.create section.product_container form section.visual_container div.descuento_envio_container div.envio_container{
        margin-right: 10px;
    }
    body.crear main.create section.product_container form section.visual_container div.descuento_envio_container div.descuento_container select{
        margin-left: 10px;
    }
/* ///////////Talla en Nuemros////////////// */
    body.crear main.create section.product_container form section.info_container div.tallaNumero{
        width: 85%;
    }

    /* //////////Descripcion de producto//////// */
    body.crear main.create section.product_container form section.info_container div.selec textarea{
        width: 300px;
        height: 120px;
    }

    /* 7//////////Ancho de los input//////////////// */

    

    /* //////Estilo de categoria///// */
    body.crear main.create section.product_container form section.info_container div.info_categoria_container{
        height: 100px;
        display: flex;
        align-items: flex-start;
        width: 100%;
        justify-content: space-around;
    }
    body.crear main.create section.product_container form section.info_container div.info_categoria_container div.Categoria1{
       /*  position: absolute;
        left: 250px; */
        text-align: end;

    }
    body.crear main.create section.product_container form section.info_container div.info_categoria_container div.Categoria2{
        /* position: absolute;
        right: 260px; */
        text-align: end;
    }
}

/* /////////////////////////Portátil-1024/////////////////////////////// */
@media(min-width:1024px){
    
    /* body main.crear section.product_container form section.info_container div.info_categoria_container div.Categoria1{
        position: absolute;
        left: 350px;
        text-align: end;
    }
    body main.crear section.product_container form section.info_container div.info_categoria_container div.Categoria2{
        position: absolute;
        right: 410px;
        text-align: end;
    } */
}