body main.crear section.product_container{
    text-align: center;
}
/* Titulo */
body main.crear section.product_container h1{
    color: white;
    margin: 10px;
}
/* //////////contenedor segundario///////// */
body main.crear section.product_container form.todo_container{
    color: #000000;
    background-color:var(--white);
    width: 80%;
    max-width: 400px;
    margin: 40px auto;
    /* text-align: center; */
    border: solid 1px var(--lightBlue);
    border-radius: 5px;

    animation: respiracion 2s linear alternate infinite;
    animation-delay: 2s;
    padding: 0 10px;
}
/* //////////////estilo a todas las "P" ///////////// */
main.crear section.product_container form.todo_container p{
    padding: 10px;
    font-weight: 600;
    text-align: left;
    font-size: 15px;
}
 
body main.crear section.product_container form section.visual_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

/* ///estilo para Enviar//// */
body main.crear section.product_container form section.visual_container div.descuento_envio_container div.envio_container{
    margin-right: 10px;
}

/* ///estilo para selector % //// */
body main.crear section.product_container form section.visual_container div.descuento_envio_container div.descuento_container select{
    margin-left: 10px;
}


/* ///////Estilo a selector de enviar y de Descuento y % ///////*/
body main.crear section.product_container form section.visual_container div.descuento_envio_container {
    /* margin: 15px 0;
    display: flex;
    align-items: center; */
    margin: 15px 0;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}


body main.crear section.product_container form section.info_container{
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin: 20px;
}

/* ///Estilos a tallas//// */

body main.crear section.product_container form section.info_container div.tallaLetra{
    display: flex;
    align-items: center;
}

body main.crear section.product_container form section.info_container div.tallaNumero{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* margin-top: 20px; */
}

body main.crear section.product_container form section.info_container div.tallaLetra input.m, input.nl{
    margin-right: 10px;
}
 /* Selectores  */
body main.crear section.product_container form section.info_container div.selec{
    margin: 10px 0;
}

/* //////Estilo de Categoria////// */
body main.crear section.product_container form section.info_container div.info_categoria_container{
    text-align: end;
}



/* ////////// estolo a los bordes de input y textArea /////////// */
body main.crear section.product_container form section.info_container div.selec input, textarea, select{
    border-radius: 5px;
    border: var(--lightBlue) solid 1px;
    padding: 5px;
    cursor: pointer;
    outline-color: var(--lightBlue);
}

/* ////Estilo a los botones de crear y borrar//// */
body main.crear section.product_container form section.button_container{
    text-align: center;
    margin: 10px;
}
/*//////////// Tamaño de botonos/////////// */
body main.crear section.product_container form section.button_container button.boton{
    padding: 8px 15px;

}



/*////////////////////////////// Movil-M///////////////////////////// */
@media(min-width:375px){
    body main.crear section.product_container form section.info_container div.tallaNumero{
        width: 81%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        /* margin-top: 15px; */
    }
}



/*////////////////////////////// Tablet///////////////////////////// */

@media(min-width:768px){

    body main.crear section.product_container form.todo_container{
        width: 80%;
        max-width: 440px;
    }
    body main.crear section.product_container form section.visual_container div.descuento_envio_container {
        margin: 15px 0;
        display: flex;
        align-items: center;
        flex-direction: row;
    }

    body main.crear section.product_container form section.visual_container div.descuento_envio_container div.envio_container{
        margin-right: 10px;
    }
    body main.crear section.product_container form section.visual_container div.descuento_envio_container div.descuento_container select{
        margin-left: 10px;
    }
    body main.crear section.product_container form section.info_container div.selec textarea{
        margin: 0px;
        width: 257px;
        height: 87px;
    }
    /* //////Estilo de categoria///// */
    body main.crear section.product_container form section.info_container div.info_categoria_container{
        height: 100px;
    }
    body main.crear section.product_container form section.info_container div.info_categoria_container div.Categoria1{
        position: absolute;
        left: 250px;
        text-align: end;
    }
    body main.crear section.product_container form section.info_container div.info_categoria_container div.Categoria2{
        position: absolute;
        right: 260px;
        text-align: end;
    }
}

/* /////////////////////////Portátil-1024/////////////////////////////// */
@media(min-width:1024px){
    
    body main.crear section.product_container form section.info_container div.info_categoria_container div.Categoria1{
        position: absolute;
        left: 350px;
        text-align: end;
    }
    body main.crear section.product_container form section.info_container div.info_categoria_container div.Categoria2{
        position: absolute;
        right: 410px;
        text-align: end;
    }
}