@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,900;1,300;1,400;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: var(--roboto);
    box-sizing: border-box;

}

:root{
    --black: #000000;
    --blue: #053742;
    --lightBlue: #2AD2D2;
    --white: #F3F3F3;
    --roboto: 'Roboto', sans-serif;

}

a{
    text-decoration: none;
}
li{
    list-style: none;
}

