/* ///////////Conflictos con bootstrap */
header input{
    height: 30px;
    font-size: 13px;
}

header button{
    font-size: 13px;
    height: 26px;
    height: 30px;
}

header a:hover{
    color: var(--white)
}

/* ///////////Conflictos con bootstrap */

header div.banner{
    position: relative;
    width: 100%;
    display: flex;
    max-width: 1024px;
}
header div.header-container div.banner img.banner_dragon {
    width: 100%;
    display: flex;
}

header .logo {
    position: absolute;
    width: 17%;
    top: 1%;
    left: 41.5%;
}

header nav{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--blue);
    padding: 10px 0;
    border: 1px solid var(--lightBlue);
}

header nav li.admin_desktop_link {
    display: none;
}

header nav div.user_desktoplinks {
    display: none;
}

header nav li.admin_desktop_link a {
    color: var(--white);
}

header nav div.user_desktoplinks a {
    color: var(--white);
}

/* ///////////////////////////////menu///////////////////////// */

header nav input.burger{
    display: none;
    
}

header nav div.menu{
    display: none;
    background-color: var(--blue);
    position: fixed;
    height: 100vh;
    top: 0;
    left: 0;
    box-shadow:  0px 0px 20px rgb(0 0 0);
    width: 220px; 
    z-index: 300;
    background: linear-gradient(0deg, #020202 28.86%, rgba(2, 2, 2, 0) 85.81%), linear-gradient(180deg, #053742 49.22%, rgba(5, 55, 66, 0) 100%); 
}

header nav div.menu ul.user_profile_mobile {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--white);
}

header nav div.menu ul.user_profile_mobile div.burger_userlinks {
    display: flex;
    flex-direction: column;
}

header nav div.menu ul.user_profile_mobile div.burger_userlinks li.burger_userlink_profile a, header nav div.menu ul.user_profile_mobile div.burger_userlinks li.burger_userlink_admin a, header nav div.menu ul.user_profile_mobile div.burger_userlinks li.burger_userlink_logout a {
    color: var(--white);
}

header nav div.menu ul.user_profile_mobile div.burger_userlinks li.burger_userlink_profile {
    margin-bottom: 10px;
}

header nav div.menu ul.user_profile_mobile div.burger_userlinks li.burger_userlink_admin {
    margin-bottom: 10px;
}

header nav div.menu ul.user_profile_mobile img.avatar_usermobile {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}

header nav div.menu ul.user{
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0;
}

header nav div.menu ul.user li{
    color: var(--white);
    border-right: 2px solid var(--white);
    padding-right: 8px;
    
}

header nav div.menu ul.user li:last-child{
    border-right: none;

}

header nav div.menu ul.user li a{
    font-weight: 600;
    color: var(--white);

}





header nav input.burger:checked ~ div.menu{
    display: block;
}


header nav div.menu ul.listaCategorias li.categorias{
    position: relative;
    overflow: hidden;
    
}

header nav div.menu ul.listaCategorias li.categorias a{
    line-height: 40px;
    color: var(--white);
    text-transform: capitalize;
    font-weight: 600;
}

header nav div.menu ul.listaCategorias li.categorias div.submenu{
    display: flex;
    flex-direction: column;
    /* position: absolute; */ /* solo en laptop y + */
    background-color: var(--lightBlue);
    max-height: 0;
    transition: .5s;
}

header nav div.menu ul.listaCategorias li.categorias:target div.submenu{
    max-height: 300px;
}

header nav div.menu label i{
    display: block;
    text-align: end;
    padding: 5px;
    color: var(--white);
}

header nav input.close{
    display: none;
}

header nav input.close:checked ~ div.menu{
    display: none;
    
}

/* //////////////////////////////fin menu//////////////////////////*/

header nav label i.fa-bars{
    background-color: var(--lightBlue);
    color: var(--white);
    padding: 7px;
    border-radius: 5px;
}
header .home, .user{
    display: none;
}

header nav form {
    width: 60%; 
    display: flex;
    justify-content: center;
    
}

header nav form input{
    width: 90%;
    border: solid 1px var(--lightBlue);
}

header nav form button{
    height: 30px;
    border-radius: 0 5px 5px 0;
    display: flex;
    background-color: var(--lightBlue);
    border: none;
}

header nav form button.search i{
    
    color: var(--white);
    padding: 5px;
    border-radius: 0px 5px 5px 0px;
    align-self: center;
    
    
}

header nav button.cart i{
    background-color: var(--lightBlue);
    color: var(--white);
    padding: 5px;
    border-radius: 5px; 
}

header nav button.cart {
    background-color: var(--lightBlue);
    border: none;
    border-radius: 5px;
}

/* Laptop */

@media (min-width: 768px){

    header nav{
        padding: 10px 0 0 0 ;
        align-items: center;
    }

    header nav form input{
        width: 100%;
        max-width: 350px;
    }

    header nav li.admin_desktop_link {
        display: block;
        
    }

    header nav li.admin_desktop_link:hover {
        text-shadow: 1px 1px 2px var(--white), 0 0 1em var(--lightBlue), 0 0 0.2em var(--lightBlue);
    }

    header nav div.user_desktoplinks li.desktop_userlink_profile a:hover {
        text-shadow: 1px 1px 2px var(--white), 0 0 1em var(--lightBlue), 0 0 0.2em var(--lightBlue);
    }

    header nav div.user_desktoplinks li.desktop_userlink_logout a:hover {
        text-shadow: 1px 1px 2px var(--white), 0 0 1em var(--lightBlue), 0 0 0.2em var(--lightBlue);
    }

    header nav div.user_desktoplinks li.desktop_userlink_profile {
        margin-left: 5px;
    }

    header nav div.user_desktoplinks li.desktop_userlink_logout {
        margin-left: 25px;
    }
    
    header nav div.user_desktoplinks {
        display: flex;
        align-items: center;
    }

    header nav div.user_desktoplinks img.avatar_userdesktop {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        object-fit: cover;
    }

    header nav label {
        display: none;
    }

    header nav form {
        width: 40%;
    }

    header nav form button.search {
        height: 30px;
    }

    header nav button.home{
        display: flex;
        background-color: var(--lightBlue);
        border: none;
        border-radius: 5px;
        align-items: center;
    }

    header nav button.home i{
        background-color: var(--lightBlue);
        color: var(--white);
        padding: 5px;
        border-radius: 5px;
    }

    header nav div.shadow{
        display: none;
    }

    header .user{
        display: flex;
        color: var(--white);
        padding: 5px;
        border-radius: 5px;
        align-self: center;
        background-color: var(--lightBlue);
        border: none;
    }

    header nav button a{
        color: var(--white);
    }
    
    /* menu */

    header nav div.menu{
    display: block;
    width: 100%;
    position: static;
    box-shadow:none;
    margin-top: 10px;
    max-height: 40px;
    border: none;
    background: var(--lightBlue);
    z-index: 1;

    }    

    /* display: none;
    background-color: var(--blue);
    position: fixed;
    height: 100vh;
    top: 0;
    left: 0;
    box-shadow:  0px 0px 20px rgb(0 0 0);
    width: 200px; 
    z-index: 300;
    background: linear-gradient(0deg, #020202 28.86%, rgba(2, 2, 2, 0) 85.81%), linear-gradient(180deg, #053742 49.22%, rgba(5, 55, 66, 0) 100%); 
 */

    header nav div.menu ul{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        position: relative;
        text-align: center;
        width: 100%;

   }

   header nav div.menu ul.user, header nav div.menu ul.user_profile_mobile {
    display: none;
    }

   header nav div.menu ul.listaCategorias li.categorias a{
       text-transform: uppercase;
   }

   header nav div.menu ul.listaCategorias li.categorias div.submenu a:hover{
       background-color: #2dbdbd;
   }

   header nav div.menu ul.listaCategorias li.categorias div.submenu a {
       display: none;
   }

   header nav div.menu ul.listaCategorias li.categorias:target div.submenu a {
       display: block;

   }  
 
}

@media (min-width: 1024px){
    header .banner {
        animation: respiracion2 5s linear alternate infinite;
        animation-delay: 5s;
        margin: 0 auto;
    }

    header .header-container {
        background-image: url(/img/design/fondo.png);
        background-repeat: repeat;
    }

    header nav form {
        width: 45%;
    }

    header nav form input{
        width: 100%;
        max-width: 500px;
    }

    header nav div.user_desktoplinks li.desktop_userlink_logout {
        margin-left: 50px;
    }

    header nav form {
        justify-content: flex-start;
        
    }
}

@media (min-width: 1300px) {

    header nav form {
        margin-right: 200px;
        
    }
}

@media (min-width: 1500px) {

    header nav li.admin_desktop_link {
        margin-left: 50px;
        
    }
}

/*                          animacin banner                              */
@keyframes respiracion2 {
    0% {
        box-shadow: 0px -3px 10px 0px rgba(42,210,210,0);
    }

    25% {
        box-shadow: 0px -3px 10px 0px rgba(42,210,210,0.25);
    }

    50% {
        box-shadow: 0px -3px 10px 0px rgba(42,210,210,0.50);
    }

    75% {
        box-shadow: 0px -3px 10px 0px rgba(42,210,210,0.75);
    }

    100% {
        box-shadow: 0px -3px 10px 0px rgba(42,210,210,1);
    }
}