/* body{
    background: linear-gradient(0deg, #020202 5.86%, #053742 66.81%);
} */
main.password{
    background: linear-gradient(0deg, #020202 5.86%, #053742 66.81%);
    overflow-x: hidden;
    /* height: 100vh; */
    min-height: 585px;
}

main.password section{
    background-color: var(--white);
    width: 80%;
    max-width: 400px;
    margin: 80px auto ;
    text-align: center;
    border: solid 1px var(--lightBlue);
    border-radius: 5px;

    animation: respiracion_login 3s linear alternate infinite;
    animation-delay: 3s;

}

main.password section h2{
    padding: 10px;
}


main.password section a{
    padding: 10px;
    color: var(--lightBlue);
}

main.password section form{
    padding: 10px;
}

main.password section form input{
    height: 40px;
    border-radius: 5px;
    margin: 10px 0;
    border: solid 3px var(--lightBlue);
    padding: 5px;
    cursor: pointer;
    outline-color: transparent;
}

main.password section button{
    margin: 15px;
    padding: 5px;
    color: var(--white);
    background-color: var(--lightBlue);
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

main.password section button a{
    color: var(--white);
}

main.password small.errors{
    display: block;
    color: crimson;
}

@media(min-width: 425px){

    main.password section h2{
        font-size: 1.8rem;
    }

    
}
@media(min-width: 768px){
    
    main.password section form input{
        width: 210px;
        padding: 5px;
    }
    main.password section button:hover{
        background-color: #2dbdbd;
    }
}

@media(min-width: 1024px){
    
    
    main.password section form{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    main.password section form input{
        width: 240px;
        padding: 5px;
    }

    main.password section button{
        width: 130px;
        
    }

    main.password section button:hover{
        background-color: #2dbdbd;
    }
}
@keyframes respiracion_login {
    0% {
        box-shadow: 0px 0px 10px 10px rgba(42,210,210,0);
    }

    25% {
        box-shadow: 0px 0px 10px 5px rgba(42,210,210,0.25);
    }

    50% {
        box-shadow: 0px 0px 10px 5px rgba(42,210,210,0.50);
    }

    75% {
        box-shadow: 0px 0px 10px 5px rgba(42,210,210,0.75);
    }

    100% {
        box-shadow: 0px 0px 10px 5px rgba(42,210,210,1);
    }
}

/* /////////////// JS front //////////////// */

main.password section form div.inputs {
    position: relative;
}

main.password section form div.inputs i.error{
    position: absolute;
    bottom: 22px;
    right: 40px;
    color: red;
    display: none;

}

main.password section form div.inputs i.check{
    position: absolute;
    bottom: 22px;
    right: 40px;
    color: green;
    display: none;
}

main.password small.errors{
    display: block;
    color: crimson;
}

main.password section form div.inputs i.ocultarContraseña, main.password section form div.inputs i.verContraseña {
    position: absolute;
    bottom: 21px;
    right: 10px;
}

main.password section form div.inputs i.verContraseña {
    display: none;
}