main.register h2{
    color: var(--white);
    text-align: center;
    margin: 20px 0;
}

main.register section form div.input-container{
    background-color: var(--white);
    width: 80%;
    max-width: 400px;
    margin: 0 auto;
    /* text-align: center; */
    border: solid 1px var(--lightBlue);
    border-radius: 5px;

    animation: respiracion 2s linear alternate infinite;
    animation-delay: 2s;
    padding: 0 10px;

}

main.register section form div.input-container div.cuenta{
    margin: 10px 0;
}

main.register section form div.input-container div.cuenta span{
    display: block;
    text-align: center;
}

main.register section form div.input-container div.cuenta a{
    display: block;
    text-align: center;
    color: var(--lightBlue);

}

main.register section form div.input-container div label{
    display: block;
}

main.register section form div.input-container div div.grupo_input input{
    width: 100%;
    border-radius: 5px;
    margin: 10px 0;
    padding: 0 60px 0 10px;
    border: 2px solid var(--lightBlue);
    transition: .3s ease all;
    height: 40px;
}

main.register section form div.input-container div div.grupo_input input:focus {
    outline: none;
    border: 3px solid var(--lightBlue);
    box-shadow: 3px 0px 30px rgba(161, 161, 161, 0.4);
}

main.register #imagen {
    display: none;
}

main.register section form div.input-container div label.label_imagen {
    background-color: var(--lightBlue);
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

main.register section form div.input-container div label.label_imagen:hover {
    box-shadow: 0px 1px 5px rgb(0 0 0);
}

main.register section form div.input-container div.check{
    margin: 10px 0;
}

main.register section form div.input-container div.check input, main.register section form div.input-container div.check label input{
    margin: 0;
    width: auto;
}

main.register section form div.input-container div.check a{
    color: var(--lightBlue);
}

.register section form div.input-container div div.grupo_input {
    position: relative;
}

.register section form div.input-container div div.grupo_input i.error {
    position: absolute;
    bottom: 22px;
    right: 40px;
    color: red;
    display: none;
}

.register section form div.input-container div div.grupo_input i.check {
    position: absolute;
    bottom: 22px;
    right: 40px;
    color: green;
    display: none;
}

.register section form div.input-container div div.grupo_input i.ojitoDes:hover, .register section form div.input-container div div.grupo_input i.ojitoAct:hover {
    text-shadow: 1px 1px 2px var(--white), 0 0 1em var(--lightBlue), 0 0 0.2em var(--lightBlue);
}

.register section form div.input-container div div.grupo_input i.ojitoDes, .register section form div.input-container div div.grupo_input i.ojitoAct {
    cursor: pointer;
    position: absolute;
    bottom: 22px;
    right: 10px;
}

.register section form div.input-container div div.grupo_input i.ojitoDes {
    display: none;
}

main.register #fechaDeNac {
    padding: 0 5px 0 10px;
}

main.register #send {
    padding: 10px;
    color: var(--white);
    margin: 10px auto;
    display: block;
    background-color: var(--lightBlue);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

main.register small.errors{
    display: block;
    color: crimson;
}

main.register #smallsFront {
    color: crimson;
}

@media (min-width: 768px){
    main.register section form div.input-container{
        max-width: 600px;
    }
    
}
