@import url("./header.css");
@import url("./cart.css");
@import url("./footer.css");
@import url("./home.css");
@import url("./admin.css");
@import url("./login.css");
@import url("./product.css");
@import url("./register.css");
@import url("./general.css");
@import url("./crear.css");
@import url("./edit.css");
@import url("./categories.css");
@import url("./products.css");
@import url("./userProfile.css");