<footer>

    <section>
        <h3>REDES</h3>
        <ul>
            <li><a href="">Instagram</a></li>
            <li><a href="">Facebook</a></li>
            <li><a href="">Twitter</a></li>
        </ul>
    </section>

    <section class="footerLogo">
        <img src="../img/logo.png" alt="forja">
    </section>

    <section>
        <h3>CONTACTO</h3>
        <ul>
            <li><a href="">E-mail</a></li>
            <li><a href="">Telefono</a></li>
            <li><a href="">Dirección</a></li>
        </ul>
    </section>



</footer>