<footer>

    <section>
        <h3>REDES</h3>
        <ul>
            <li><a href="https://www.instagram.com/">Instagram</a></li>
            <li><a href="https://www.facebook.com/">Facebook</a></li>
            <li><a href="https://twitter.com/">Twitter</a></li>
        </ul>
    </section>

    <section class="footerLogo">
        <img src="/img/design/logo.png" alt="forja">
    </section>

    <section>
        <h3>CONTACTO</h3>
        <ul>
            <li><a href="/contact">E-mail</a></li>
            <li><a href="/nosotros">Nosotros</a></li>
            <li><a href="/contact">Dirección</a></li>
        </ul>
    </section>



</footer>