<header>
    <div class="container">
        <div class="banner">
            <img src="/img/design/banner.png" alt="Banner">
            <a href="/"><img src="/img/design/logo.png" alt="" class="logo"></a>
        </div>
    </div>
    <nav>
        <button class="home">
            <a href="/">
                <i class="fas fa-home"></i>
            </a>
        </button>
        <input class="burger" name="open-close" type="radio" id="categorias">
        <label for="categorias">
            <i class="fas fa-bars"></i>
        </label>
        <form action="">
            <input type="text" name="search" id="search" placeholder="Buscar marcas, productos y más">
            <button class="search">
                <i class="fas fa-search"></i>
            </button>
        </form>
        <button class="user">
            <a href="/user/login">Iniciar sesión</a>
        </button>
        <button class="user">
            <a href="/user/register">Registrate</a>
        </button>
        <button class="cart">
            <a href="/user/cart"><i class="fas fa-shopping-cart"></i></a>
        </button>


        <input class="close" type="radio" name="open-close" id="close">
        <div class="menu">
            <label for="close"><i class="fas fa-times"></i></label>

            <ul class="user">
                <li><a href="/user/login">Iniciar sesión</a></li>
                <li><a href="/user/register">Registrarse</a></li>
            </ul>


            <ul class="listaCategorias">
                <li class="categorias" id="taekwondo">
                    <a href="#taekwondo">TaeKwon-Do</a>
                    <div class="submenu">
                        <a href="">Todos los productos</a>
                        <a href="">Sub1</a>
                        <a href="">Sub2</a>
                        <a href="">Sub3</a>
                        <a href="">Sub4</a>
                    </div>
                </li>

                <li class="categorias" id="boxeo">
                    <a href="#boxeo">Boxeo</a>
                    <div class="submenu">
                        <a href="">Todos los productos</a>
                        <a href="">Sub1</a>
                        <a href="">Sub2</a>
                        <a href="">Sub3</a>
                        <a href="">Sub4</a>
                    </div>
                </li>

                <li class="categorias" id="kick-muay">
                    <a href="#kick-muay">KickBoxing/MuayThai</a>
                    <div class="submenu">
                        <a href="">Todos los productos</a>
                        <a href="">Sub1</a>
                        <a href="">Sub2</a>
                        <a href="">Sub3</a>
                        <a href="">Sub4</a>
                    </div>
                </li>

                <li class="categorias" id="judo">
                    <a href="#judo">Judo</a>
                    <div class="submenu">
                        <a href="">Todos los productos</a>
                        <a href="">Sub1</a>
                        <a href="">Sub2</a>
                        <a href="">Sub3</a>
                        <a href="">Sub4</a>
                    </div>
                </li>

                <li class="categorias" id="jiujitsu">
                    <a href="#jiujitsu">Jiu-Jitsu</a>
                    <div class="submenu">
                        <a href="">Todos los productos</a>
                        <a href="">Sub1</a>
                        <a href="">Sub2</a>
                        <a href="">Sub3</a>
                        <a href="">Sub4</a>
                    </div>
                </li>

                <li class="categorias" id="entrenamiento">
                    <a href="#entrenamiento">Entrenamiento</a>
                    <div class="submenu">
                        <a href="">Todos los productos</a>
                        <a href="">Sub1</a>
                        <a href="">Sub2</a>
                        <a href="">Sub3</a>
                        <a href="">Sub4</a>
                    </div>
                </li>

            </ul>

        </div>

    </nav>

</header>