<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/styles.css">
    <title>Document</title>
</head>

<body>
    <header>
        <div class="container">
            <div class="banner">
                <img src="/img/banner.png" alt="Banner">
                <a href=""><img src="/img/logo.png" alt="" class="logo"></a>
            </div>
        </div>
        <nav>
            <button class="home">
                <a href="">
                    <i class="fas fa-home"></i>
                </a>
            </button>
            <input class="burger" name="open-close" type="radio" id="categorias">
            <label for="categorias">
                <i class="fas fa-bars"></i>
            </label>
            <form action="">
                <input type="text" name="search" id="search" placeholder="Buscar marcas, productos y más">
                <button class="search">
                    <i class="fas fa-search"></i>
                </button>
            </form>
            <button class="user">
                <a href="">Iniciar sesión</a>
            </button>
            <button class="user">
                <a href="">Registrate</a>
            </button>
            <button class="cart">
                <i class="fas fa-shopping-cart"></i>
            </button>


            <input class="close" type="radio" name="open-close" id="close">
            <div class="desplegable">
                <label for="close"><i class="fas fa-times"></i></label>
                
                
                <ul>

                    <label for="boxeo">
                        <li>Boxeo</li>
                    </label>

                    <ul class="list">
                        <input class="boxeo" type="checkbox" name="" id="boxeo">
                        <li><a href="#">Todos los productos</a></li>
                        <li><a href="#">Sub1</a></li>
                        <li><a href="#">Sub2</a></li>
                        <li><a href="#">Sub3</a></li>
                        <li><a href="#">Sub4</a></li>
                        <li><a href="#">Sub5</a></li>
                    </ul>

                    <label for="taekwondo">
                        <li>TaeKwon-Do</li>
                    </label>

                    <ul class="list">
                        <input class="taekwondo" type="checkbox" name="" id="taekwondo">
                        <li><a href="#">Todos los productos</a></li>
                        <li><a href="#">Sub1</a></li>
                        <li><a href="#">Sub2</a></li>
                        <li><a href="#">Sub3</a></li>
                        <li><a href="#">Sub4</a></li>
                        <li><a href="#">Sub5</a></li>
                    </ul>

                    <label for="kick-muay">
                        <li>Kick Boxing/Muay Thai</li>
                    </label>

                    <ul class="list">
                        <input class="kick-muay" type="checkbox" name="" id="kick-muay">
                        <li><a href="#">Todos los productos</a></li>
                        <li><a href="#">Sub1</a></li>
                        <li><a href="#">Sub2</a></li>
                        <li><a href="#">Sub3</a></li>
                        <li><a href="#">Sub4</a></li>
                        <li><a href="#">Sub5</a></li>
                    </ul>

                    <label for="judo">
                        <li>Judo</li>
                    </label>

                    <ul class="list">
                        <input class="judo" type="checkbox" name="" id="judo">
                        <li><a href="#">Todos los productos</a></li>
                        <li><a href="#">Sub1</a></li>
                        <li><a href="#">Sub2</a></li>
                        <li><a href="#">Sub3</a></li>
                        <li><a href="#">Sub4</a></li>
                        <li><a href="#">Sub5</a></li>
                    </ul>

                    <label for="jiujitsu">
                        <li>Jiu-Jitsu</li>
                    </label>

                    <ul class="list">
                        <input class="jiujitsu" type="checkbox" name="" id="jiujitsu">
                        <li><a href="#">Todos los productos</a></li>
                        <li><a href="#">Sub1</a></li>
                        <li><a href="#">Sub2</a></li>
                        <li><a href="#">Sub3</a></li>
                        <li><a href="#">Sub4</a></li>
                        <li><a href="#">Sub5</a></li>
                    </ul>

                    <label for="entrenamiento">
                        <li>Entrenamiento</li>
                    </label>

                    <ul class="list">
                        <input class="entrenamiento" type="checkbox" name="" id="entrenamiento">
                        <li><a href="#">Todos los productos</a></li>
                        <li><a href="#">Sub1</a></li>
                        <li><a href="#">Sub2</a></li>
                        <li><a href="#">Sub3</a></li>
                        <li><a href="#">Sub4</a></li>
                        <li><a href="#">Sub5</a></li>
                    </ul>

                </ul>


            </div>

        </nav>



    </header>
    <main>
        <section class="carrusel">
            <div class="carrusel_container">
                <ul class="slider">
                    <li id="slide-1">
                        <img src="/img/carrusel/product-15-forja.jpg" alt="Forja foto motivación">
                    </li>
                    <li id="slide-2">
                        <img src="/img/carrusel/product-13.jpg" alt="Foto marca Everlast">
                    </li>
                    <li id="slide-3">
                        <img src="/img/carrusel/product-17.jpg" alt="Foto marca FujiMae">
                    </li>
                </ul>
                <img src="/img/carrusel/señuelo.jpg" alt="Señuelo">
                <div class="botones_container">
                    <ul class="botones_slide">
                        <li>
                            <a href="#slide-1"> </a>
                        </li>
                        <li>
                            <a href="#slide-2"> </a>
                        </li>
                        <li>
                            <a href="#slide-3"> </a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

        <section class="populares">
            <h2>Categorías más populares</h2>
            <div class="populares_categorias">
                <article class="categorias">
                    <a href="#"><img src="/img/carrusel/product-12.jpg"></a>
                    <a href="#"><h4>Entrenamiento</h4></a>
                </article>
                <article class="categorias">
                    <a href="#"><img src="/img/carrusel/product-3.jpg"></a>
                    <a href="#"><h4>Taekwondo</h4></a>
                </article>
                <article class="categorias">
                    <a href="#"><img src="/img/carrusel/product-7.jpg"></a>
                    <a href="#"><h4>Kickboxing</h4></a>
                </article>
                <article class="categorias">
                    <a href="#"><img src="/img/carrusel/product-6.jpg"></a>
                    <a href="#"><h4>Boxeo</h4></a>
                </article>
            </div>
        </section>

        <section class="destacados">
            <h2>Productos destacados</h2>
            <div class="destacados_contenedor">
                <article class="producto_des">
                    <div class="image_container">
                        <a href="#"><img src="/img/productos/product-1.jpg"></a>
                    </div>
                    <div class="detail_container">
                        <label class="camion"><i class="fas fa-truck" id="envio"></i></label>
                        <h4 class="titulo">Soga crossfit 50x9mts Yute punta sellada</h4>
                        <p class="precio">19.000 $</p>
                        <p class="descripcion">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam odio
                            repellendus necessitatibus veniam aliquid excepturi autem? Corrupti non illum</p>
                    </div>
                </article>
                <article class="producto_des">
                    <div class="image_container">
                        <a href="#"><img src="/img/productos/product-2.jpg"></a>
                    </div>
                    <div class="detail_container">
                        <label class="camion"><i class="fas fa-truck" id="envio"></i></label>
                        <h4 class="titulo">Guantes de boxeo everlast pro style elite</h4>
                        <p class="precio">9.999 $</p>
                        <p class="descripcion">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam odio
                            repellendus necessitatibus veniam aliquid excepturi autem? Corrupti non illum</p>
                    </div>
                </article>
                <article class="producto_des">
                    <div class="image_container">
                        <a href="#"><img src="/img/productos/product-3.jpg"></a>
                    </div>
                    <div class="detail_container">
                        <label class="camion"><i class="fas fa-truck" id="envio"></i></label>
                        <h4 class="titulo">Pelota gimnasia rehabilitación 10kg crossfit</h4>
                        <p class="precio">3.899 $</p>
                        <p class="descripcion">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam odio
                            repellendus necessitatibus veniam aliquid excepturi autem? Corrupti non illum</p>
                    </div>
                </article>
                <article class="producto_des">
                    <div class="image_container">
                        <a href="#"><img src="/img/productos/product-4.jpg"></a>
                    </div>
                    <div class="detail_container">
                        <label class="camion"><i class="fas fa-truck" id="envio"></i></label>
                        <h4 class="titulo">Protector pecho mujer boxeo marca petomax</h4>
                        <p class="precio">2.700 $</p>
                        <p class="descripcion">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam odio
                            repellendus necessitatibus veniam aliquid excepturi autem? Corrupti non illum</p>
                    </div>
                </article>
                <article class="producto_des">
                    <div class="image_container">
                        <a href="#"><img src="/img/productos/product-5.jpg"></a>
                    </div>
                    <div class="detail_container">
                        <label class="camion"><i class="fas fa-truck" id="envio"></i></label>
                        <h4 class="titulo">Bucal Personalizado termo-ajustable</h4>
                        <p class="precio">480 $</p>
                        <p class="descripcion">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam odio
                            repellendus necessitatibus veniam aliquid excepturi autem? Corrupti non illum</p>
                    </div>
                </article>
                <article class="producto_des">
                    <div class="image_container">
                        <a href="#"><img src="/img/productos/product-6.jpg"></a>
                    </div>
                    <div class="detail_container">
                        <label class="camion"><i class="fas fa-truck" id="envio"></i></label>
                        <h4 class="titulo">Saco de boxeo entrenamiento velocidad</h4>
                        <p class="precio">2.500 $</p>
                        <p class="descripcion">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam odio
                            repellendus necessitatibus veniam aliquid excepturi autem? Corrupti non illum</p>
                    </div>
                </article>
                <article class="producto_des">
                    <div class="image_container">
                        <a href="#"><img src="/img/productos/product-7.jpg"></a>
                    </div>
                    <div class="detail_container">
                        <label class="camion"><i class="fas fa-truck" id="envio"></i></label>
                        <h4 class="titulo">Protector de cabeza casco ringhorns</h4>
                        <p class="precio">15.436 $</p>
                        <p class="descripcion">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam odio
                            repellendus necessitatibus veniam aliquid excepturi autem? Corrupti non illum</p>
                    </div>
                </article>
                <article class="producto_des">
                    <div class="image_container">
                        <a href="#"><img src="/img/productos/product-8.jpg"></a>
                    </div>
                    <div class="detail_container">
                        <label class="camion"><i class="fas fa-truck" id="envio"></i></label>
                        <h4 class="titulo">Piso de goma/caucho molido 50x80cm</h4>
                        <p class="precio">2.730 $</p>
                        <p class="descripcion">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam odio
                            repellendus necessitatibus veniam aliquid excepturi autem? Corrupti non illum</p>
                    </div>
                </article>
                <article class="producto_des">
                    <div class="image_container">
                        <a href="#"><img src="/img/productos/product-9.jpg"></a>
                    </div>
                    <div class="detail_container">
                        <label class="camion"><i class="fas fa-truck" id="envio"></i></label>
                        <h4 class="titulo">Traje Taekwondo Itf Dobok Adulto talles 3a10</h4>
                        <p class="precio">9.000 $</p>
                        <p class="descripcion">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam odio
                            repellendus necessitatibus veniam aliquid excepturi autem? Corrupti non illum</p>
                    </div>
                </article>
                <article class="producto_des">
                    <div class="image_container">
                        <a href="#"><img src="/img/productos/product-10.jpg"></a>
                    </div>
                    <div class="detail_container">
                        <label class="camion"><i class="fas fa-truck" id="envio"></i></label>
                        <h4 class="titulo">Soga cuerda para saltar Athletic acero</h4>
                        <p class="precio">750 $</p>
                        <p class="descripcion">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam odio
                            repellendus necessitatibus veniam aliquid excepturi autem? Corrupti non illum</p>
                    </div>
                </article>
                <article class="producto_des">
                    <div class="image_container">
                        <a href="#"><img src="/img/productos/product-11.jpg"></a>
                    </div>
                    <div class="detail_container">
                        <label class="camion"><i class="fas fa-truck" id="envio"></i></label>
                        <h4 class="titulo">Short Kick Boxing Adulto talles de 3a6</h4>
                        <p class="precio">3.250 $</p>
                        <p class="descripcion">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam odio
                        repellendus necessitatibus veniam aliquid excepturi autem? Corrupti non illum</p>
                    </div>
                </article>
                <article class="producto_des">
                    <div class="image_container">
                        <a href="#"><img src="/img/productos/product-12.jpg"></a>
                    </div>
                    <div class="detail_container">
                        <label for=""><i class="fas fa-truck" id="envio"></i></label>
                        <h4 class="titulo">Traje JiuJitsu/Judo Adulto Azul</h4>
                        <p class="precio">4.459 $</p>
                        <p class="descripcion">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam odio
                        repellendus necessitatibus veniam aliquid excepturi autem? Corrupti non illum</p>
                    </div>
                </article>
            </div>
        </section>

        <section class="ofertas">
            <h2>Ofertas</h2>
            <div class="ofertas_contenedor">
                <article class="producto_ofer">
                    <div class="image_container">
                        <a href="#"><img src="/img/productos/product-13.jpg"></a>
                    </div>
                    <div class="detail_container">
                        <h4 class="titulo">Manoplas almohadilla entrenamiento wushengreen</h4>
                        <p class="precio">4.800 $</p>
                        <p class="descuento">50% OFF</p>
                        <p class="precio_des">2.400 $</p>
                        <p class="descripcion">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam odio
                            repellendus necessitatibus veniam aliquid excepturi autem? Corrupti non illum</p>
                    </div>
                </article>
                <article class="producto_ofer">
                    <div class="image_container">
                        <a href="#"><img src="/img/productos/product-14.jpg"></a>
                    </div>
                    <div class="detail_container">
                        <h4 class="titulo">Combo bolsa + soporte + cadenas + relleno EVERLAST boxeo</h4>
                        <p class="precio">22.400 $</p>
                        <p class="descuento">50% OFF</p>
                        <p class="precio_des">11.200 $</p>
                        <p class="descripcion">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam odio
                            repellendus necessitatibus veniam aliquid excepturi autem? Corrupti non illum</p>
                    </div>
                </article>
                <article class="producto_ofer">
                    <div class="image_container">
                        <a href="#"><img src="/img/productos/product-15.jpg"></a>
                    </div>
                    <div class="detail_container">
                        <h4 class="titulo">Saco + soporte boxeo para niños inflable</h4>
                        <p class="precio">1.350 $</p>
                        <p class="descuento">50% OFF</p>
                        <p class="precio_des">2.400 $</p>
                        <p class="descripcion">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam odio
                            repellendus necessitatibus veniam aliquid excepturi autem? Corrupti non illum</p>
                    </div>
                </article>
                <article class="producto_ofer">
                    <div class="image_container">
                        <a href="#"><img src="/img/productos/product-16.jpg"></a>
                    </div>
                    <div class="detail_container">
                        <h4 class="titulo">Soga de Saltar color con rulemanes</h4>
                        <p class="precio">20.000 $</p>
                        <p class="descuento">50% OFF</p>
                        <p class="precio_des">10.000 $</p>
                        <p class="descripcion">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam odio
                            repellendus necessitatibus veniam aliquid excepturi autem? Corrupti non illum</p>
                    </div>
                </article>
                <article class="producto_ofer">
                    <div class="image_container">
                        <a href="#"><img src="/img/productos/product-17.jpg"></a>
                    </div>
                    <div class="detail_container">
                        <h4 class="titulo">Saco Boxeo de pie 165cm con soporte</h4>
                        <p class="precio">26.499 $</p>
                        <p class="descuento">50% OFF</p>
                        <p class="precio_des">13.249 $</p>
                        <p class="descripcion">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam odio
                            repellendus necessitatibus veniam aliquid excepturi autem? Corrupti non illum</p>
                    </div>
                </article>
                <article class="producto_ofer">
                    <div class="image_container">
                        <a href="#"><img src="/img/productos/product-18.jpg"></a>
                    </div>
                    <div class="detail_container">
                        <h4 class="titulo">Par mancuernas 3a10kg macizo inoxidable</h4>
                        <p class="precio">4.500 $</p>
                        <p class="descuento">50% OFF</p>
                        <p class="precio_des">2.250 $</p>
                        <p class="descripcion">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam odio
                            repellendus necessitatibus veniam aliquid excepturi autem? Corrupti non illum</p>
                    </div>
                </article>
                <article class="producto_ofer">
                    <div class="image_container">
                        <a href="#"><img src="/img/productos/product-19.jpg"></a>
                    </div>
                    <div class="detail_container">
                        <h4 class="titulo">Cinturón cinto artes marciales</h4>
                        <p class="precio">1.400 $</p>
                        <p class="descuento">50% OFF</p>
                        <p class="precio_des">700 $</p>
                        <p class="descripcion">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam odio
                            repellendus necessitatibus veniam aliquid excepturi autem? Corrupti non illum</p>
                    </div>
                </article>
                <article class="producto_ofer">
                    <div class="image_container">
                        <a href="#"><img src="/img/productos/product-20.jpg"></a>
                    </div>
                    <div class="detail_container">
                        <h4 class="titulo">Protector tibial Kick/Muay Quzz</h4>
                        <p class="precio">12.499 $</p>
                        <p class="descuento">50% OFF</p>
                        <p class="precio_des">6.249 $</p>
                        <p class="descripcion">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam odio
                            repellendus necessitatibus veniam aliquid excepturi autem? Corrupti non illum</p>
                    </div>
                </article>
                <article class="producto_ofer">
                    <div class="image_container">
                        <a href="#"><img src="/img/productos/product-21.jpg"></a>
                    </div>
                    <div class="detail_container">
                        <h4 class="titulo">Vendas 3.05mts Boxe/Kick/Muay starpro</h4>
                        <p class="precio">2.300 $</p>
                        <p class="descuento">50% OFF</p>
                        <p class="precio_des">1.150 $</p>
                        <p class="descripcion">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam odio
                            repellendus necessitatibus veniam aliquid excepturi autem? Corrupti non illum</p>
                    </div>
                </article>
                <article class="producto_ofer">
                    <div class="image_container">
                        <a href="#"><img src="/img/productos/product-22.jpg"></a>
                    </div>
                    <div class="detail_container">
                        <h4 class="titulo">Calza térmica corta mujer entrenamiento</h4>
                        <p class="precio">7.500 $</p>
                        <p class="descuento">50% OFF</p>
                        <p class="precio_des">3.750 $</p>
                        <p class="descripcion">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam odio
                            repellendus necessitatibus veniam aliquid excepturi autem? Corrupti non illum</p>
                    </div>
                </article>
                <article class="producto_ofer">
                    <div class="image_container">
                        <a href="#"><img src="/img/productos/product-23.jpg"></a>
                    </div>
                    <div class="detail_container">
                        <h4 class="titulo">Combo entrenamiento en casa + regalo</h4>
                        <p class="precio">6.500 $</p>
                        <p class="descuento">50% OFF</p>
                        <p class="precio_des">3.250 $</p>
                        <p class="descripcion">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam odio
                            repellendus necessitatibus veniam aliquid excepturi autem? Corrupti non illum</p>
                    </div>
                </article>
                <article class="producto_ofer">
                    <div class="image_container">
                        <a href="#"><img src="/img/productos/product-24.jpg"></a>
                    </div>
                    <div class="detail_container">
                        <h4 class="titulo">Piso goma eva colores a elegir, de fábrica</h4>
                        <p class="precio">1.200 $</p>
                        <p class="descuento">50% OFF</p>
                        <p class="precio_des">600 $</p>
                        <p class="descripcion">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam odio
                            repellendus necessitatibus veniam aliquid excepturi autem? Corrupti non illum</p>
                    </div>
                </article>
            </div>
        </section>

        <div class="go-top">
            <a href="#" class="top"><span>GoTop</span><i class="fas fa-chevron-up"></i></a>
            <a href="<!-- link whatsapp -->" class="whatsapp" target="blank"><i class="fab fa-whatsapp whatsapp-icon"></i></a>
        </div>
    </main>

    <footer>

        <section>
            <h3>REDES</h3>
            <ul>
                <li><a href="">Instagram</a></li>
                <li><a href="">Facebook</a></li>
                <li><a href="">Twitter</a></li>
            </ul>
        </section>

        <section class="footerLogo">
            <img src="../img/logo.png" alt="forja">
        </section>

        <section>
            <h3>CONTACTO</h3>
            <ul>
                <li><a href="">E-mail</a></li>
                <li><a href="">Telefono</a></li>
                <li><a href="">Dirección</a></li>
            </ul>
        </section>



    </footer>
</body>

</html>