<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/styles.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="banner">
            <img src="" alt="">            
        </div>
        <nav>
            <label>
                <i class="fas fa-bars"></i>
            </label>
            <form action="">
                <input type="text" name="search" id="search" placeholder="Buscar marcas, productos y más">
                <button class="search">
                    <i class="fas fa-search"></i>
                </button>
            </form>
            <button class="cart">
                <i class="fas fa-shopping-cart"></i>
            </button>
        </nav>
    </header>

    <footer></footer>
</body>
</html>