<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/styles.css">
    <title>Iniciar Sesión</title>
    <link rel="icon" href="../img/logo.png"><!-- logo en el titulo de la pagina -->
</head>
<body>

<!-- cabecera de la pagina web -->

<header>
    <div class="container">
        <div class="banner">
            <img src="/img/banner.png" alt="Banner">
            <a href=""><img src="/img/logo.png" alt="" class="logo"></a>
        </div>
    </div>
    <nav>
        <button class="home">
            <a href="">
                <i class="fas fa-home"></i>
            </a>
        </button>
        <label>
            <i class="fas fa-bars"></i>
        </label>
        <form action="">
            <input type="text" name="search" id="search" placeholder="Buscar marcas, productos y más">
            <button class="search">
                <i class="fas fa-search"></i>
            </button>
        </form>
        <button class="user">
            <a href="">Iniciar sesión</a>
        </button>
        <button class="user">
            <a href="">Registrate</a>
        </button>
        <button class="cart">
            <i class="fas fa-shopping-cart"></i>
        </button>
    </nav>
</header>

    <!-- contenido de la pagina web -->
    <main class="login">
        <section>
            <h2>Iniciar Sesión</h2>
            <samp>¿No tenés una cuenta?</samp><a href="/register.html">¡Creá una cuenta!</a>
            <form action="">
                <input type="email" id="email" class="email" placeholder="Escribe tu e-mail">

                <input type="password" id="password" placeholder="Contraseña">
            </form>
            <h5><a href="">¿Olvidaste tu contraseña?</a></h5>
            <button ><a href="">Iniciar Sesión</a></button>
        </section>
    </main>
<!-- pie de la pagina web -->

<footer>
    
    <section>
        <h3>REDES</h3>
        <ul>
            <li><a href="">Instagram</a></li>
            <li><a href="">Facebook</a></li>
            <li><a href="">Twitter</a></li>
        </ul>
    </section>

    <section class="footerLogo">
        <img src="../img/logo.png" alt="forja">
    </section>

    <section>
        <h3>CONTACTO</h3>
        <ul>
            <li><a href="">E-mail</a></li>
            <li><a href="">Telefono</a></li>
            <li><a href="">Dirección</a></li>
        </ul>
    </section>
</footer> 
</body>
</html>