<!DOCTYPE html>
<html lang="en">
    
<head>
    <%- include('../partials/head')  %> 
    <link rel="stylesheet" href="../../../css/crear.css">
    <title>Crear Producto</title>
</head>
<body>

    <%- include('../partials/header')  %> 

 <main class="crear">
    <section class="product_container">
        <h1>Crear Producto  <i class="fas fa-box"></i></h1>

        <form class="todo_container" action="/" method="POST" >

            <section class="visual_container">
                <!-- ////Eligir archivo//// -->
                    <input type="file" name="imagen">

                <!-- ////////selector de enviar//////// -->
                <div class="descuento_envio_container">
                    <div class="envio_container">
                        <input type="checkbox" name="envioGratis" id="envio">
                        <label for="envio">Envío</label>
                    </div>

                    <!-- ///////selector de % y Descuento /////// -->
                    <div class="descuento_container">
                        <label for="descuento">Descuento</label>
                        <select name="descuento" id="Descuento">
                            <option value="" selected hidden>Seleccione %</option>
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="15">15</option>
                            <option value="20">20</option>
                            <option value="25">25</option>
                        </select>
                    </div>
                </div>
            </section>


            <section class="info_container">
 <!-- /////seccion de talla///// -->
                <p>Tallas</p>
                <!-- ////talla en letras//// -->
                <div class="tallaLetra">
                    <label for="S">S</label>
                    <input class="m"id="S" type="checkbox" name="talle">
                    <label for="M">M</label>
                    <input class="m"id="M" type="checkbox" name="talle">
                    <label for="L">L</label>
                    <input class="m"id="L" type="checkbox" name="talle">
                    <label for="XL">XL</label>
                    <input class="m"id="XL" type="checkbox" name="talle">
                    <label for="XXL">XXL</label>
                    <input class="m"id="XXL" type="checkbox" name="talle">
                </div>
                <!-- ///////Talla en Numero/////// -->
                <p>Talla en Numeros</p>
                <div class="tallaNumero">
                    <label for="talla0">0</label>
                    <input class="nl" id="talla0" type="checkbox" name="talle" value="0"

                    <label for="talla1">1</label>
                    <input class="nl" type="checkbox" 
                    id="talla1"name="talle" value="1">

                    <label for="talla2">2</label>
                    <input class="nl" type="checkbox" id="talla2"name="talle" value="2">
                    <label for="talla3">3</label>
                    <input class="nl" type="checkbox" id="talla3"name="talle" value="3">
                    <label for="talla4">4</label>
                    <input class="nl" type="checkbox" id="talla4"name="talle" value="4">
                    <label for="talla5">5</label>
                    <input class="nl" type="checkbox" id="talla5"name="talle" value="5">
                    <label for="talla6">6</label>
                    <input class="nl" type="checkbox" id="talla6"name="talle" value="6">
                    <label for="talla7">7</label>
                    <input class="nl" type="checkbox" id="talla7"name="talle" value="7">
                    <label for="talla8">8</label>
                    <input class="nl" type="checkbox" id="talla8"name="talle" value="8">
                    <label for="talla9">9</label>
                    <input class="nl" type="checkbox" id="talla9"name="talle" value="9">
                </div>
                <!-- /////Nombre de Producto///// -->
                <div class= "selec info_titulo_container">
                    <p>Nombre de Producto</p>
                    <input type="text" name="nombre" >
                </div>
                <!-- /////Descripcion de Producto///// -->
                <div class= "selec info_des_container">
                    <p>Ingresá una descripción</p>
                    <textarea name="descripcion" id="" placeholder="Ingresá una descripción"></textarea>
                </div>
                <!-- /////Precio de producto///// -->
                <div class= "selec info_precio_container">
                    <p>Precio $</p>
                    <input type="number" name="precio" required>
                </div>
                <!-- /////Colores de producto///// -->
                <div class= "selec color_container">
                    <p>Colores</p>
                    <input type="text" name="color">
                </div>
                <!-- /////categoria de producto///// -->
                <div class= "selec info_categoria_container">
                    <p>Categoría</p>
                    
                    <div class="Categoria1">
                        <div>
                        <label for="taekwon-Do">Taekwon-Do</label>
                        <input class="m" name="categoria" id="taekwon-Do" type="checkbox" value="TaeKwon-Do">
                        </div>

                        <div>
                        <label for="Boxeo">Boxeo</label>
                        <input class="m" name="categoria" id="Boxeo" type="checkbox" value="Boxeo">
                        </div>

                        <div>
                        <label for="EntrenamientoFuncional/Crossfit">Funcional/Cross<</label>
                        <input class="m" name="categoria" id="EntrenamientoFuncional/Crossfit" type="checkbox" value="Funcional/Cross">
                        </div>

                    </div>

                    <div class="Categoria2">
                        <div>
                        <label for="Jupo">Jupo</label>
                        <input class="m" name="categoria" id="Jupo" type="checkbox" value="Judo">
                        </div>

                        <div>
                        <label for="Jiu-Jitsu">Jiu-Jitsu</label>
                        <input class="m"  name="categoria" id="Jiu-Jitsu" type="checkbox" value="Jiu-Jitsu">
                        </div>

                        <div>
                        <label for="KickBoxing/MuayThai">KickBoxing/MuayThai</label>
                        <input class="m" name="categoria" id="KickBoxing/MuayThai" type="checkbox" value="KickBoxing/MuayThai">
                        </div>


                    </div>

                </div>
                
            </section>
<!-- ///botones//// -->
            <section class="button_container">
                <button class="boton" type="submit">Crear</button>
                <button class="boton" type="reset">Borrar</button>
            </section>

        </form>
    </section>
</main>
    <%- include('../partials/footer')  %> 
</body>
</html> 