<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head')  %>
    <script src="https://kit.fontawesome.com/a0ae2adcc2.js" crossorigin="anonymous"></script>
    <title>Contacto</title>
</head>
<body>
    <!-- cabecera de la pagina web -->
    <%- include('../partials/header')  %>
    <!-- contenido de la pagina web -->
    <main class="contacto">
        <section>
            <div class="googleMaps">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d18108.189027561853!2d-58.40752780470847!3d-34.61169495533478!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccabfe23f5e3b%3A0x6f90fe1eadb235cf!2sMuseo%20del%20Agua%20y%20de%20la%20Historia%20Sanitaria%20-%20Palacio%20de%20Aguas%20Corrientes!5e1!3m2!1ses-419!2sar!4v1641598653658!5m2!1ses-419!2sar" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>

            <div class="iconoYcontacto">
                
                <div class="iconoDeRedes">
                    <a href=""><i class="fab fa-facebook-f"></i></a>
                    <a href=""><i class="fab fa-twitter"></i></a>
                    <a href=""><i class="fab fa-instagram"></i></a>
                    <a href=""><i class="fab fa-linkedin"></i></a>
                    <a href=""><i class="fab fa-youtube"></i></a>
                </div>
                    
                <article>
                    <ul>
                        <li>
                            <a href="https://mail.google.com/mail">
                                <samp><i class="fas fa-envelope" _mstvisible="2"></i></samp>
                                <samp>Forja@online.com</samp>
                            </a>
                        </li>

                        <li>
                            <a href="tel:+549223555878">
                                <samp><i class="fas fa-mobile-alt"></i></samp>
                                <samp>+549 223 555-878</samp>
                            </a>
                        </li>

                        <li>
                            <a href="tel:+549888083558">
                                <samp><i class="fas fa-phone-alt"></i></samp>
                                <samp>+549 8880-83558</samp>
                            </a>
                        </li>

                        <li>
                            <a href="">
                                <samp><i class="fas fa-clock"></i></samp>
                                <samp>Lunes a Viernes 09:00 - 19:00</samp>
                            </a>
                        </li>
                    </ul>
                </article>
            </div>

        </section>

    </main>


    <%- include('../partials/footer')  %> 
</body>
<script src="../../../js/general.js"></script>
</html>