<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head')  %>
    <title>Iniciar Sesión</title>
</head>
<body>

<!-- cabecera de la pagina web -->

<%- include('../partials/header')  %> 

    <!-- contenido de la pagina web -->
    <main class="login">
        <% if (msgRegistroExitoso !== "Vacio") { %>
        <p class="registro_exitoso">Todo listo, ahora iniciá sesión con tu nuevo usuario y comenzá a comprar!</p>
        <% }%>
        <section>
            <h2>Iniciar Sesión</h2>
            <% if (email === "Vacio") { %>
                <samp>¿No tenés una cuenta?</samp><a href="/user/register">¡Creá una cuenta!</a>
                
            <% } else { %>
                <p>Ingresá solo tu contraseña</p>
                <% } %> 
            <form action="/user/login" method="POST">
                <input type="email" name="email" id="email" class="email" placeholder="Escribe tu e-mail" <% if (email !== "Vacio") { %>
                value="<%= email %>"
                <% } %> >

                <input type="password" name="contraseña" id="password" placeholder="Contraseña">
            
            <h5><a href="">¿Olvidaste tu contraseña?</a></h5>

            <label for="recordarme">Recordame </label>
                <input type="checkbox" name="recordarme" id="recordarme" value="recordarme">

            <button type="submit" >Iniciar Sesión</button>
            </form>
        </section> 
    </main>
<!-- pie de la pagina web -->

<%- include('../partials/footer')  %> 

</body>
</html>