<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head')  %>
    <title>Nosotros</title>
</head>
<body>
    <!-- cabecera de la pagina web -->
    <%- include('../partials/header')  %>
    <!-- contenido de la pagina web -->
    <main class="nosotros">
        <div class="inicio">
            <H1>Nosotros</H1>

            <h3>#forjandoCampeones</h3>
    
            <p>
                <b>Forja</b> es un Negocio especializada en ventas y asesoramiento, de preoductos de entrenamiento en diferentes disiplinas.
                <b>(Taekwon-Do, Boxeo, Judo, Jiu-Jitsu, KickBoxing, MuayThai, Crossfit. )</b>
            </p>
        </div>

       <div class="mision">
           <p class="subtitule">Nuentra Misión</p>

           <p>Impulsar el desarrollo de su disciplina con productos de marca y calidad.</p>

       </div>

       <div class="vision">
           <p class="subtitule" >Visión</p>

           <p>Innovar para mejorar nuentros productos y servicios, para ofrecerles lo mejor.</p>
       </div>



    </main>

    <%- include('../partials/footer')  %> 
</body>
<script src="../../../js/general.js"></script>
</html>