<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head')  %>
    <title>Registro</title>
</head>

<body>

    <%- include('../partials/header')  %> 

    <main class="register">


        <h2>Crear una cuenta</h2>


        <section>

            <form action="/user/register" method="POST" enctype="multipart/form-data">
                <div class="input-container">
                    <div class="cuenta">
                        <span>¿Ya tiene una cuenta?</span>
                        <a href="/login">Inicie sesión</a>

                    </div>

                    <div>
                        <label for="nombre">Nombre</label>
                        <input type="text" id=nombre
                            placeholder="Ingresalo tal como figura en el documento" name="nombre" required>
                    </div>

                    <div>
                        <label for="apellido">Apellido</label>
                        <input type="text" id=apellido
                            placeholder="Ingresalo tal como figura en el documento" name="apellido" required >
                    </div>

                    <div>
                        <label for="email">E-mail</label>
                        <input type="email" id=email placeholder="Asegurate de tener acceso a este e-mail" name="email" required>
                    </div>

                    <div>
                        <label for="fechaDeNac">Fecha de nacimiento</label>
                        <input type="date" id=fechaDeNac placeholder="DD/MM/YY" name="fechaDeNac" required max="2003-03-09" >
                    </div>

                    <div>
                        <label for="contraseña">Contraseña</label>
                        <input type="password" id=contraseña name="contraseña" required minlength="8">
                    </div>

                    <div>
                        <label for="contraseña2">Confirma tu contraseña</label>
                        <input type="password" id=contraseña2 name="contraseña2" required minlength="8">
                    </div>

                    <div>
                        <label for="imagen">Imagen de perfil</label>
                        <input type="file" id="imagen" accept="image/*" name="imagen">
                    </div>

                    <div class="check">
                        <input type="checkbox" name="terminos" value="1" required>
                        <small>Acepto los <a href="">Términos y Condiciones</a> y autorizo el uso de mis datos de
                            acuerdo a
                            la
                            <a href="">Declaración de Privacidad</a>.</small>
                    </div>

                    <div class="check">
                        <input type="checkbox" name="ofertas">
                        <small>Recibir ofertas exclusivas y descuentos.</small>
                    </div>
                </div>

                <div class="captcha">

                </div>

                <button type="submit">Crear cuenta</button>


            </form>

        </section>

    </main>

    <%- include('../partials/footer')  %> 

</body>

</html>