<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head')  %>
    <title>userProfile</title>
</head>
<body>
    <%- include('../partials/header')  %> 
    <!-- ///////////////// -->
<h1>hola <%= usuario.name %></h1>


<!-- ////////// -->
    <%- include('../partials/footer')  %> 
</body>
</html>