<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('./partials/head')  %>
    <title>Iniciar Sesión</title>
</head>
<body>

<!-- cabecera de la pagina web -->

<%- include('./partials/header')  %> 

    <!-- contenido de la pagina web -->
    <main class="login">
        <section>
            <h2>Iniciar Sesión</h2>
            <samp>¿No tenés una cuenta?</samp><a href="/register">¡Creá una cuenta!</a>
            <form action="">
                <input type="email" id="email" class="email" placeholder="Escribe tu e-mail">

                <input type="password" id="password" placeholder="Contraseña">
            </form>
            <h5><a href="">¿Olvidaste tu contraseña?</a></h5>
            <button ><a href="/home.html">Iniciar Sesión</a></button>
        </section>
    </main>
<!-- pie de la pagina web -->

<%- include('./partials/footer')  %> 

</body>
</html>