<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head')  %>
    <title>Registro</title>
</head>

<body>

    <%- include('./partials/header')  %> 

    <main class="register">


        <h2>Crear una cuenta</h2>


        <section>

            <form action="" method="POST" >
                <div class="input-container">
                    <div class="cuenta">
                        <span>¿Ya tiene una cuenta?</span>
                        <a href="/login">Inicie sesión</a>

                    </div>

                    <div>
                        <label for="nombre">Nombre</label>
                        <input type="text" name="nombre" id=nombre
                            placeholder="Ingresalo tal como figura en el documento" required>
                    </div>

                    <div>
                        <label for="apellido">Apellido</label>
                        <input type="text" name="apellido" id=apellido
                            placeholder="Ingresalo tal como figura en el documento" required >
                    </div>

                    <div>
                        <label for="email">E-mail</label>
                        <input type="email" name="email" id=email placeholder="Asegurate de tener acceso a este e-mail" required>
                    </div>

                    <div>
                        <label for="fechaDeNac">Fecha de nacimiento</label>
                        <input type="date" name="fechaDeNac" id=fechaDeNac placeholder="DD/MM/YY" required max="2003-03-09" >
                    </div>

                    <div>
                        <label for="password">Contraseña</label>
                        <input type="password" name="password" id=password required minlength="8">
                    </div>

                    <div>
                        <label for="password2">Confirma tu contraseña</label>
                        <input type="password" name="password2" id=password2 required minlength="8">
                    </div>

                    <div class="check">
                        <input type="checkbox" name="tyc">
                        <small>Acepto los <a href="">Términos y Condiciones</a> y autorizo el uso de mis datos de
                            acuerdo a
                            la
                            <a href="">Declaración de Privacidad</a>.</small>
                    </div>

                    <div class="check">
                        <input type="checkbox" name="newsletter">
                        <small>Recibir ofertas exclusivas y descuentos.</small>
                    </div>
                </div>

                <div class="captcha">

                </div>

                <button type="submit">Crear cuenta</button>


            </form>

        </section>

    </main>

    <footer>

        <section>
            <h3>REDES</h3>
            <ul>
                <li><a href="">Instagram</a></li>
                <li><a href="">Facebook</a></li>
                <li><a href="">Twitter</a></li>
            </ul>
        </section>

        <section class="footerLogo">
            <img src="../img/logo.png" alt="forja">
        </section>

        <section>
            <h3>CONTACTO</h3>
            <ul>
                <li><a href="">E-mail</a></li>
                <li><a href="">Telefono</a></li>
                <li><a href="">Dirección</a></li>
            </ul>
        </section>

    </footer>

</body>

</html>